[2021-01-13 20:27] Ortham commented on #1541
The error message is

[code]

This looks like another case of trouble with MO2's virtual filesystem, there's not really anything that can reasonably be done about it on LOOT's end, as it's just using the standard filesystem APIs as provided by Microsoft.

[2021-01-16 01:15] sholt0r commented on #1541
@ddbb07 I use the standalone LOOT launched through MO2. The error always specifies one of the ESP files. As @Ortham believes that this is most likely an issue with MO2's VFS, I will close this case and raise it with the MO2 team as from the past couple of days testing, this seems to be the most likely cause. Thank you for your assistance.

[2021-01-16 01:15] #1541 closed, assigned to nobody

[2021-01-19 23:53] Arthmoor opened #1542 "Castle Volkihar Rebuilt tags"
The C.Owner tag is added to CVR by LOOT and should not be. CVR does not make any ownership changes to any of the cells it edits.

[2021-01-20 00:28] Arthmoor commented on #1317
I realize this issue is marked as closed, but what testing are you looking for? The NAM0/NAM9 issue is something I ran into directly in my Storefront mod when the values got ghost edited by the CK without my knowing. People reported massive lag and stuttering shortly after the release it was in and once I restored the WRLD record back to what it was supposed to be, the problem went away.

[2021-01-20 05:46] sibir-ine commented on #1542
I added it a while ago because CVR adds the Public Area flag to Volkihar North Tower (02007203).

[2021-01-20 19:26] Arthmoor commented on #1542
It does, yes, and I'm hard pressed to remember exactly why. In any case, that wouldn't be a C.Owner thing. That would be a record flags issue.

[2021-01-21 12:42] sibir-ine commented on #1542
According to WB's documentation, C.Owner covers that flag. I did a quick test to confirm, & it does indeed. ~~I believe C.RecordFlags is for flags not covered by other tags such as C.Owner.~~ C.RecordFlags is for record flags, not data flags.

[2021-01-21 21:14] Arthmoor commented on #1542
I guess this is what I get for not keeping up on the docs and other changes that have been happening. :P

I guess this can be closed then, and if I remember why I added the public space flag to begin with I'll worry about it then.

[2021-01-22 22:14] MacSplody commented on #1542
There's a new tag `C.MiscFlags` in the latest WB nightly, it was added by infernio in https://github.com/wrye-bash/wrye-bash/commit/e3557036cbccba36c6e98b9cb6363e2ae05a926e

It didn't work correctly before though, it was fixed in https://github.com/wrye-bash/wrye-bash/commit/eaeb8319f223fc9b8c37ac445676f89439215a06.

---

Since we are on the subject of tags, there were some tag changes made for cu

[2021-01-23 13:05] MlemandPurrs opened #1543 "Search Cards arrows not functioning properly"
When using the search cards function you can click those ^ v up down arrows and it highlights the item but doesnt jump to where it is in the listing.

[2021-01-27 04:30] Sabre142 opened #1549 "Evenstar - Minimalistic Standing Stones of Skyrim and Morningstar - Minimalistic Races of Skyrim bash tags"
Mod link: [Evenstar - Minimalistic Standing Stones of Skyrim](https://www.nexusmods.com/skyrimspecialedition/mods/41256)

Maybe it could benefit from having some bash tags, as users reported in the posts that the text descriptions from this mod do not carry over into the game at times. USSEP seems to be overriding it since that mod has the Text tag.

Some of the tags that I suggest and might be he

[2021-01-29 20:01] me-dog opened #1550 "Change in .git return format confounds LOOT"
LOOT is unable to update the masterlist.yaml file. Error message:

[20:57:27.977894] [error]: Exception while executing query: Git operation failed. Details: -1; failed to send request: An invalid argument was supplied.
: libgit2 error
[20:57:27.978874] [error]: Chromium console message from http://loot/ui/app.bundle.js at line 5723: Error: Oh no, something went wrong! You can check your LOOTDebug

[2021-01-29 20:26] Ortham commented on #1550
What game's masterlist are you getting the error with?

[2021-01-29 20:29] me-dog commented on #1550
Oops, sorry, editing out irrelevant debug info also removed some relevant bits. It's Skyrim SE, https://github.com/loot/skyrimse.git, fresh install of LOOT on Windows 10,

[2021-01-29 20:32] Infernio commented on #1549
Started tackling this at https://github.com/Infernio/skyrimse/tree/inf-enai

[2021-01-29 20:41] Ortham commented on #1550
Try replacing your `loot.dll` with this one: https://dl.bintray.com/loot/snapshots/libloot-0.16.1-5-g35e81c1_master-win32.7z

[2021-01-29 21:01] me-dog commented on #1550
I begin to suspect PEBKAC. Sorry for the inconvenience. I've been fiddling around with MO2 lately and quite probably fiddled more than my skills supported. After removing and reinstalling MO2 the issue went away. Don't know exactly what I did but probably something involving paths. D'oh is all I can add.

[2021-01-29 21:01] #1550 closed, assigned to nobody

[2021-01-29 21:02] MacSplody commented on #1542
Closing as it's resolved.

[2021-01-29 21:02] #1542 closed, assigned to nobody

[2021-01-29 21:04] MacSplody commented on #1550
It usually happens if you run LOOT for the first time inside MO2 and download the masterlist.
First run and sort should be performed outside MO2.

[2021-01-29 21:49] #1549 closed, assigned to nobody

[2021-01-29 22:02] #1536 closed, assigned to nobody

[2021-01-30 03:03] MacSplody opened #1553 "Sorting error - Sacrilege & Vokrii"
https://discord.com/channels/473542112974077963/473542230095822848/804862683722809365

Added in https://github.com/loot/skyrimse/commit/285c767875be308ae0cffeadcc1b1f6ffa34dee5

[code]
The group assignment itself is fine, but not having any afters for other group members can cause this.

[2021-01-30 03:25] MacSplody commented on #1553
At the moment there are seven files in the Perks group.
I'll have to do some testing to figure out the best solution, as I'm considering splitting the group.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-01-30 16:59] pStyl3 commented on #646
For the japanese translations, these are the ones still missing:
&alreadyInOrFixedByX
&alsoUseX
&compatIssuesWithX
&patchUnavailable
&useBashTweakInstead

@tktk11 Do you mind translating these?

[2021-01-30 18:17] pStyl3 commented on #1553
[Here's](https://www.reddit.com/r/skyrimmods/comments/l8kyp4/loot_cyclic_interaction/) another report of a cyclic interaction:
[code]

[2021-01-30 23:29] #1553 closed, assigned to nobody

[2021-01-31 00:05] MacSplody opened #1555 "Books of Skyrim - Cleaning required"
### [Books of Skyrim SE](https://www.nexusmods.com/skyrimspecialedition/mods/4115)
Version 1.0
[code]

Reverts change made by `Update.esm` for Creation Club plugin Saints & Seducers.
Also conflicts with `SkyrimSewers.esp`.
NAVM `000CAD79` in worldspace SolitudeOrigin `00037EE9`

![image](https://user-images.githubusercontent.com/1944639/106370859-28eead80-6356-11eb-8982-fe0cfcf6f444.png)

- [x] Ad

[2021-01-31 01:51] MacSplody opened #1556 "Apocalyse - Wild Edit"
[Apocalypse - Magic of Skyrim](https://www.nexusmods.com/skyrimspecialedition/mods/1090/)

Wild edit in Worldspace Cell reverts water-flow change from `Update.esm`.

![image](https://user-images.githubusercontent.com/1944639/106372318-60655600-6366-11eb-8c0c-bf6abeb16359.png)

[2021-01-31 01:54] #1556 closed, assigned to nobody

[2021-01-31 02:36] #1555 closed, assigned to nobody

[2021-01-31 05:23] #1540 closed, assigned to nobody

[2021-01-31 20:29] MacSplody commented on #1535
You won't be able to change those rules in user metadata.
And tbh I don't think you should be able to change it, as **Path to Ordinance** and **Vokriinator** require that specific order.

Closing as it's working as expected.

[2021-01-31 20:29] #1535 closed, assigned to nobody

[2021-02-03 04:30] tktk11 commented on #646
Translation is here.

&alreadyInOrFixedByX
'削除してください。%1%にすでに含まれているか修正されています。'

&alsoUseX
'%1%の併用を強く推奨します。'

&compatIssuesWithX
'このプラグインには%1%との互換性の問題があります。詳細についてはこのmodの互換性に関する注意事項をお読みください。'

&patchUnavailable
'このMODを%1%と完全に互換性のあるものにするにはパッチが必要です。現在ダウンロード可能なものはありません。'

&useBashTweakInstead
'このプラグインの代わりに、Bashed Patch の調整機能を使用できます。%1%'

[2021-02-03 12:30] Giltintur opened #1563 "Unnessecary compatibility patch notification (True Storms, Wet & Cold, Catherdarl Weathers Diverse Seasons)"
I have the Cathedral Weathers - Diverse Seasons full patch for True Storms, Wet and Cold, and Improved Rain and Fog for Cathedral Weathers, but loot suggests that I download the wet and colt and true storms patch.

This seems to be incorrect, as the patching is done by the diverse seasons patch.
The patch is here: https://www.nexusmods.com/skyrimspecialedition/mods/28612

[2021-02-03 20:35] #1563 closed, assigned to nobody

[2021-02-03 20:37] MacSplody commented on #1563
@Giltintur Done, the message will be hidden if `CathedralWeathersSeasons.esp` is active.

[2021-02-04 02:08] avigorus opened #1567 "Inigo Cleaning Message"
Inigo is not supposed to be cleaned, yet LOOT is telling me to clean it.

[2021-02-04 02:34] MacSplody commented on #1567
LOOT doesn't ever actually tell anyone to clean plugins in those messages.
It only provides the cleaning information to inform each user of files that are dirty.
It's up to each user whether or not they want to clean the files.

From the description page of [Inigo](https://www.nexusmods.com/skyrimspecialedition/mods/1461?tab=description).

The Navmesh ITMs themselves may not cause any issues in mo

[2021-02-04 10:00] pStyl3 commented on #646
The **swedish** translations are missing the following ones:
&alsoUseX
&compatIssuesWithX
&optional
&patchUnavailable
&useBashTweakInstead
&useInstead
&useVersion

@simoneddeland Would you be able to help us out on these ones?

[2021-02-05 08:40] MacSplody commented on #1523
The one issue with it is that it doesn't carry forward some changes from `Hearthfires.esm`

![image](https://user-images.githubusercontent.com/1944639/107001741-13c4b500-6782-11eb-8be3-d10bc3572fa6.png)

It changes are carried forward in both the `Bashed patch, 0.esp` and `DynDOLOD.esp`.
![image](https://user-images.githubusercontent.com/1944639/107007071-ef6cd680-6789-11eb-9a73-c5135b523e2f.png)

[2021-02-06 01:00] #1524 closed, assigned to nobody

[2021-02-06 04:19] #1525 closed, assigned to nobody

[2021-02-06 05:09] #1432 closed, assigned to nobody

[2021-02-06 05:33] MacSplody commented on #1495
There are no better options at the moment and the patches still work fine.

[2021-02-06 05:33] #1495 closed, assigned to nobody

[2021-02-06 06:17] #1494 closed, assigned to nobody

[2021-02-06 06:22] #1567 closed, assigned to nobody

[2021-02-07 10:18] MacSplody opened #1578 "Skyrim Project Optimization - File changes"
[Skyrim Project Optimization SE](https://www.nexusmods.com/skyrimspecialedition/mods/14084)

Removed `Skyrim Project Optimization - Full Version.esp` and `Skyrim Project Optimization - No Homes - Full Version.esp`.
Added `Skyrim Project Optimization - Full ESL Version.esm` and `Skyrim Project Optimization - No Homes - Full ESL Version.esm`.

- [x] Remove old files.
- [x] Add new ones.

[2021-02-08 09:42] MacSplody commented on #1317
I mainly wanted to test for why the CK changes the value in the first place.

[Holds The City Overhaul](https://www.nexusmods.com/skyrimspecialedition/mods/10609) Holds SSE Complete - 0.0.9

`Holds.esp` changes `NAM0 - Min X` in the Tamriel worldspace from -57 to -60.

![image](https://user-images.githubusercontent.com/1944639/107199513-715d3980-69ee-11eb-8332-a5ee9dcf1839.png)

It seems to be bec

[2021-02-08 18:00] Arthmoor commented on #1317
Unfortunately nobody knows what specifically sets it off because even in mods that aren't adding more cells to a worldspace it can happen, like it did with my Storefront mod.

[2021-02-09 00:00] #1578 closed, assigned to nobody

[2021-02-11 13:04] sibir-ine opened #1589 "Add useBashTweakInstead message to TDG's Activate To Interact"
This [mod](https://www.nexusmods.com/skyrimspecialedition/mods/35492/) simply changes the value of the game setting `sActivate` from `Activate` to `Interact`. This can now be accomplished with a settings tweak, `Prompt: Activate`, added in the latest nightly, `308.202102111126`.

Since it's still on a nightly, I'm hesitant to add the message until it's on an official release (i.e. on Nexus). For n

[2021-02-11 13:07] sibir-ine commented on #1589
I love how Nexus goes back online _the second_ I submit this.

[2021-02-13 04:06] MacSplody opened #1593 "ENB Helper VR"
Skyrim VR version of [ENB Helper VR](https://www.nexusmods.com/skyrimspecialedition/mods/25142/)
Plugin has a different name `ENBHelperVR.dll`.

- [x] Update particle patch messages for ENB Helper.

Done in 79688ea.

[2021-02-15 19:24] pStyl3 commented on #646
@3ventic Thanks for your Finnish localization updates. With the above linked PRs I've distributed them to the other masterlists.

[2021-02-15 19:39] pStyl3 commented on #1280
@3ventic Would you mind translating this one sentence as well? So:
`A guide to cleaning plugins using xEdit can be found [here](https://tes5edit.github.io/docs/7-mod-cleaning-and-error-checking.html#ThreeEasyStepstocleanMods).`

[2021-02-15 19:46] pStyl3 commented on #1280
@RacerBG Since you added the Bulgarian translation for the LOOT application itself (will be added with the next official release), would you mind also translating some general messages for our masterlists? That way, once the next version will be released, those messages will be displayed in Bulgarian, too.

For one, there is this one sentence that you can see here in the post above or in the origi

[2021-02-15 22:01] 3ventic commented on #1280
`Ohjeet liitännäisten puhdistamiseen xEditillä löytyvät [tästä linkistä](https://tes5edit.github.io/docs/7-mod-cleaning-and-error-checking.html#ThreeEasyStepstocleanMods).

LMK if you prefer a PR.

[2021-02-16 22:11] pStyl3 commented on #1280
@3ventic Thanks for that. No need for a PR really, I will handle the rest!

[2021-02-20 06:40] Reggit6182 opened #1602 "LootDebug Error (Skyrim Radioactive | Old masterlist v0.10)"
[LOOTDebugLog.txt](https://github.com/loot/skyrimse/files/6014277/LOOTDebugLog.txt)
I am not sure what the exact issue here is could some one assist me please?

[2021-02-20 07:16] #1593 closed, assigned to nobody

[2021-02-20 09:39] #1499 closed, assigned to nobody

[2021-02-20 10:56] Ortham commented on #1602
[code]

Somehow you're using a very old version or branch of the masterlist, check that the masterlist branch in LOOT's settings is `v0.15`.

[2021-02-20 11:01] Reggit6182 commented on #1602
![image](https://user-images.githubusercontent.com/57755519/108593339-c4f05f80-73be-11eb-903b-4bbd4fb1b7fc.png)
It says it's v0.15

[2021-02-20 11:02] Ortham commented on #1602
What happens if you try updating your masterlist?

[2021-02-20 11:04] Reggit6182 commented on #1602
I click on the button but nothing happens. Do I have to manually do this? I am running LOOT as admin as well.

[2021-02-20 11:09] Ortham commented on #1602
No, LOOT should update the masterlist whenever you sort too (because you've got the "Update masterlist before sorting" toggle enabled).

It shouldn't make a difference if you run as admin or not, all of the files LOOT writes are in your user's local app data folder. Can you share your debug log after trying to update the masterlist?

[2021-02-20 11:11] Reggit6182 commented on #1602
[LOOTDebugLog.txt](https://github.com/loot/skyrimse/files/6014799/LOOTDebugLog.txt)

[2021-02-20 11:15] Ortham commented on #1602
Ah, it's failing because LOOT is failing to initialise properly because of the old masterlist.

If you go to `%LOCALAPPDATA%\LOOT\Skyrim Special Edition\` and delete the `.git` folder (it might be hidden) and the `masterlist.yaml` file there, LOOT should start up properly and you should then be able to download the latest masterlist.

[2021-02-20 11:16] Reggit6182 commented on #1602
Ahh, that was the trick you are a legend thank-you for your help. Is there a way I can give +rep? Or a show of appreciation?

[2021-02-20 11:19] Ortham commented on #1602
If you want, you can send me money [here](https://paypal.me/OliverHamlet), but there's no rep system or anything like that, and a thank you is enough. 😃

[2021-02-20 11:19] #1602 closed, assigned to nobody

[2021-02-23 00:17] puddles54 opened #1611 "JK's Skyrim: The Great Cities incompatibility & patch message don't look for The Great Cities of JK's North - Patch.esp"
I'm not really familiar with GitHub and pull requests and can't really figure it out quickly otherwise I'd submit one myself but it recommends The Great Cities of JK's North patch but doesn't find the correct .esp name. It might have been changed in an update perhaps.

On line 14497 of the current masterlist it has:

[code]

I think it should be:

[code]

This just changes "Skyrim" to "North" in t

[2021-02-23 06:49] chrisyowyow opened #1612 "ICAIO, AFT/iAFT, & RDO load order"
So I've noticed [AFT](https://www.nexusmods.com/skyrimspecialedition/mods/6656/)/[iAFT](https://www.nexusmods.com/skyrimspecialedition/mods/14722/) gets pushed very high in LO. Whats happening is, [ICAIO](https://www.nexusmods.com/skyrimspecialedition/mods/173/) is overwriting some of the changes of its functionality so the proper ordering should be ICAIO -> AFT/iAFT -> [RDO](https://www.nexusmods

[2021-02-23 07:56] chrisyowyow opened #1613 "Skyrim Unlocked load order"
https://www.nexusmods.com/skyrim/mods/69420/
https://github.com/Kaenguru-Knobel-Kette/skyrim-unlocked/releases/

I left the LE link bc it says the following:

**Isn't this mod highly incompatible with other mods because it edits so much?

It's simple: You must load this mod at the end of your load order or you will break stuff!
The best place is right before your bashed patch/SkyProc patches. If y

[2021-02-23 09:36] sibir-ine commented on #1612
https://www.nexusmods.com/skyrim/mods/15524
https://www.nexusmods.com/skyrim/mods/71689
https://www.nexusmods.com/skyrim/mods/74568

Is this for Skyrim LE or Skyrim SE?

[2021-02-23 09:36] sibir-ine commented on #1613
Is this for Skyrim LE or Skyrim SE?

[2021-02-23 10:10] chrisyowyow commented on #1612
SE

[2021-02-23 10:10] chrisyowyow commented on #1613
SE

[2021-02-23 10:14] sibir-ine commented on #1612
Please update the links in both of your issues to point to the SE versions of those mods.

[2021-02-23 10:55] chrisyowyow commented on #1612
oh damn thanks, i thought i pointed at right 1s lol

[2021-02-23 14:18] sibir-ine commented on #1611
It looks like `The Great Cities of JK's Skyrim - Patch.esp` is the patch for TGC & JKS while `The Great Cities of JK's North - Patch.esp` is the patch for TGC, CotN, & JKS, so both should hide the message.

Also, it looks like `The Great JK's Cities.esp` is outdated, & the author recommends The Great Cities of JK's North; that should be addressed too.

It also looks like the author of The Great Ci

[2021-02-24 11:46] #1611 closed, assigned to nobody

[2021-02-24 11:58] sibir-ine commented on #1611
@fenrir0054 Done in d7c2f5d. I updated the general handling of the patch since it seems to have been updated significantly since the last time it was updated in the masterlist.

[2021-02-25 14:00] sibir-ine commented on #1613
@chrisyowyow I think this is a matter of what I mentioned when we were discussing this on Discord; it isn't any more vital that this mod is loaded late than any other mod.

The only sense in which things will "break" is that it will lose a conflict with another mod & loading it after that mod will simply cause that mod to lose the same conflict. This isn't something load order can fix; patches wil

[2021-02-25 15:07] sibir-ine commented on #1612
@chrisyowyow Here's the relevant metadata for the mods in question:
[code]
AFT/iAFT are both in the `default` group, which `lowPriorityGroup` loads after, so the typical load order will be AFT/iAFT > ICAIO > RDO. Since all your proposing is to switch the order of AFT/iAFT & ICAIO, it should be noted that they don't conflict in a way that load order can remedy. You can check for yourself with SSEEd

[2021-02-26 18:47] pStyl3 opened #1623 "Streamline &deletePlugin"
The situation with `&deletePlugin` (a message of type `warn`) across the different masterlists is a bit of a mess, and is in dire need of streamlining it, so that every masterlist contains the same version of it.

The original English `en` message:

(1) SSE, Skyrim, FO3
`When using **%1%**. It''s recommended that you deactivate or delete this ESP file, but keep the resources (e.g. meshes, textures

[2021-02-26 19:04] sibir-ine commented on #1623
The alias was originally shortened in #1306 as, in #1283, I used a modified version of the original message without the last segment fragment as it was inaccurate for the context. @MacSplody later decided to modify the alias as well since it'd make it more versatile. We also agreed that since most of the translations followed the same pattern with the sentence fragment at the end, they could proba

[2021-02-26 19:26] pStyl3 commented on #1623
If the message was trimmed for your mentioned use case, than we should of course use that one. And your slight modification to the `en` message seems doable just like that, as well. The german translation is already leaning towards your adjusted version.

As such, these translations should be used:
German (4), Japanese (8), Korean (10), Polish (12), Portuguese (14), Brazilian Portuguese (17), Russ

[2021-02-26 20:10] #1623 closed, assigned to nobody

[2021-02-27 08:24] pStyl3 opened #1626 "Streamline &obsolete"
English `en`

SSE, Skyrim, FO4
`Obsolete. Update to latest version. %1%`

Oblivion, Morrowind, FNV, FO3
`Obsolete. Update to the latest version. %1%`

---

German `de`

SSE, Oblivion, FNV, FO3, FO4
`Veraltet. Aktualisiere zur letzten Version. %1%`

Skyrim
`Veraltet. Aktualisieren Sie zur neusten Version. %1%`

Morrowind
`Veraltet. Aktualisere zur letzten Version. %1%`

---

Korean `ko`

SSE, Skyri

[2021-02-27 09:05] sibir-ine commented on #1626
Just FYI, the SSE Korean translation was revised by @sean-kang in #1126, so it's definitely preferred.

[2021-02-27 12:10] chrisyowyow commented on #1613
the only mods that should load after unlocked are bash patches and requiem for an indifferent in my LO.

[2021-02-27 12:21] chrisyowyow commented on #1612
this is my personal LO starting from ICAO:

**Immersive Citizens - AI Overhaul.esp
AmazingFollowerTweaks.esp
My Home Is Your Home.esp
Alternate Start - Live Another Life.esp**
CFTO.esp
CFTO - Immersive Citizens Patch.esp
**Alternate_Start_-_Attacked_and_Left_for_Dead_-_Balanced.esp
AltStartELFXEnhancedAddLight.esp
ASLAL ELFX Fix.esp
Relationship Dialogue Overhaul.esp
RDO Updated.esp
RDO - AFT v1.6

[2021-02-27 12:45] sibir-ine commented on #1612
There's not much we can do with your load order in this context. We need specific suggestions for what group a plugin should be in or what plugins it should load after & why.

The only suggestion I can tell from your load order relating to AFT/iAFT is to place it after ICAIO. As I discussed earlier, neither AFT nor iAFT have any records that conflict with ICAIO, so the load order between them does

[2021-02-27 12:45] #1612 closed, assigned to nobody

[2021-02-27 13:11] sibir-ine commented on #1613
Is there a reason for this outside your or the author's preference? Loading Skyrim Unlocked after a mod it conflicts with breaks that mod just as much as it breaks when it's loaded before. It's changes just don't get propagated unless a patch is used for them. That's not enough of a reason to change a plugin's placement, especially not to load it nearly last.

Skyrim Unlocked is fine as it is in `

[2021-02-27 15:52] chrisyowyow commented on #1613
its author's preference, more or less it can brick main story quest if u place it too high in LO which i found out. so yes it should be placed at bottom and not "default" b/c default just places it wherever. ive made the changes to my personal LO and custom masterlist buut.... yea

[2021-02-27 16:41] sibir-ine commented on #1613
The issue is that it can just as easily induce an equally game-breaking bug by being forced to load so late & overwriting another mod. This has to be handled on an individual basis.

If loading it just before dynamic patches like a bashed patch works best for you & you haven't already, you can add a group that's sorted after `Leveled List Modifiers` & before `Dynamic Patches` using the [Groups Edi

[2021-02-27 17:08] #1613 closed, assigned to nobody

[2021-02-28 14:30] pStyl3 commented on #1626
Then I'm gonna change the masterlists as described above.

[2021-02-28 15:03] #1626 closed, assigned to nobody

[2021-02-28 18:35] zarantha opened #1635 "LOOT incorrectly prompts to install Lock Overhaul Ordinator version"
Skyrim SE

I have installed the Ordinator version of Lock Overhaul, but LOOT still tells me to use the Ordinator patch from Lock Overhaul's download page. The ESPs are named the same. I tried downloading the non Ordinator version and get the same loot message. I suspect CRCs have changed?

No Ordinator version:
Lock_Overhaul.esp  B7986707
You seem to be using Ordinator - Perks of Skyrim, but you h

[2021-02-28 18:51] sibir-ine commented on #1635
My bad. When I added the message a while back, I did it in a way that didn't take false positives into account. The Ordinator version hasn't been updated since I added the message; your plugin must've gotten edited at some point &, since the message's condition checks if the checksum of the plugin isn't that of the unedited Ordinator version, it'll give you a false positive like you received. I'll

[2021-02-28 19:02] #1635 closed, assigned to nobody

[2021-02-28 19:03] sibir-ine commented on #1635
@zarantha Done in b5288ce. Thanks for the report!

[2021-03-01 11:50] sibir-ine opened #1640 "Inline single entry lists"
I've noticed that throughout most of the masterlists, there are quite a few lists that have only one entry that isn't inline. Here's an example from the SSE masterlist:

[code]

The `after` can be rewritten as:

[code]

It's not a big deal, but it's definitely tidier that way; it's also done in most masterlists most of the time where applicable, so it's also worth doing for the sake of consistency

[2021-03-01 18:31] #1640 closed

[2021-03-03 16:42] #1589 closed, assigned to nobody

[2021-03-10 15:21] MacSplody opened #1654 "HD LODs Textures"
### [HD LODs Textures](https://www.nexusmods.com/skyrimspecialedition/mods/3333)

![image](https://user-images.githubusercontent.com/1944639/110652041-e79eb880-81b3-11eb-8d57-201fdcd58ad6.png)

- [x] Place plugin in early group, to let other mods overwrite it.
- [x] Sort after Terrain Lod redone.

---

#### Issue with Majestic mountains, due to load order.

![image](https://user-images.githubuserc

[2021-03-10 16:16] #1654 closed, assigned to nobody

[2021-03-10 18:05] #1523 closed, assigned to nobody

[2021-03-10 19:03] MacSplody opened #1657 "SkyVRaan - Updated"
### [SkyVRaan - Shimmering VR Waters](https://www.nexusmods.com/skyrimspecialedition/mods/30571)

- [x] Add Obsolete message or remove file.

`VRWaterColor.esp`, `VRWaterColor-Volcanic.esp` & `VRWatercolor-Blackreach.esp` are the only plugins that conflict with Realistic Water Two.

- [x] Add load after rules.

[2021-03-10 20:46] MacSplody opened #1658 "Synthesis"
https://github.com/Mutagen-Modding/Synthesis

Dynamically creates a single plugin `Synthesis.esp`.
Placement should probably be right before `DynDOLOD.esp` and `Occlusion.esp'` in the Late Fixes & Changes group.

[2021-03-10 21:33] sibir-ine commented on #1658
This was [discussed](https://discord.com/channels/537706885965676554/537710082755133460/815169410548891648) in the Wrye Bash Discord, but Synthesis can create massive plugins that cause Bashed Patch building to hang, so Synthesis should probably be run & loaded after it. A custom message could even be added to reflect this, like the message for `Occlusion.esp`.

From @Infernio:

The discussion on

[2021-03-11 14:50] MacSplody commented on #1658
Okay, I've added it to the appropriate group, so it will be after the Bashed Patch.
I'll leave this open for now as I didn't add any message for it.

[2021-03-11 17:04] #1657 closed, assigned to nobody

[2021-03-14 07:38] sibir-ine commented on #1280
@pStyl3 A friend who'd like to remain anonymous has provided a Simplified Chinese translation. I'll add it to the masterlists shortly, but how should we credit him? Something like "anonymous translator"? He & possibly a few others will provide more translations after we refactor the messages a bit more.

[2021-03-14 08:06] pStyl3 commented on #1280
@sibir-ine If he or she prefers to stay anonymous, we should handle it just like that and not add a mentioning of any sort. Be sure to let him/her know our gratitude though.

[2021-03-15 10:33] dannyvaneeckhoutte opened #1671 "Dawnguard.esm"
` - name: 'Dawnguard.esm'
    dirty:
      - <<: *reqManualFix
        crc: 0x955CCA77
        util: '[SSEEdit v4.0.3](https://www.nexusmods.com/skyrimspecialedition/mods/164)'
        nav: 57`

[2021-03-15 10:34] #1671 closed, assigned to nobody

[2021-03-15 10:34] dannyvaneeckhoutte commented on #1671
Wrong place to post I think...

[2021-03-15 10:35] dannyvaneeckhoutte commented on #467
`- name: 'Dawnguard.esm'
    dirty:
      - <<: *reqManualFix
        crc: 0x955CCA77
        util: '[SSEEdit v4.0.3](https://www.nexusmods.com/skyrimspecialedition/mods/164)'
        nav: 57`

[2021-03-15 10:43] sibir-ine commented on #467
@dannyvaneeckhoutte As Mac stated in the above comment, `&reqManualFix` isn't used for official plugins as their deleted navmeshes shouldn't be fixed. Also, `Dawnguard.esm`'s cleaning data is already in the masterlist [here](https://github.com/loot/skyrimse/blob/ce3b3ac3471353c24edd672532a26eae24652086/masterlist.yaml#L1171-L1177).

[2021-03-15 10:46] dannyvaneeckhoutte commented on #467
Oh, alright, I must be blind :-p Thanks for the response!

[2021-03-17 12:22] sibir-ine commented on #646
@sean-kang Would you be interested in updating LOOT's Korean localization? The localization for the app itself is pretty outdated. This [article](https://github.com/loot/loot/blob/master/CONTRIBUTING.md#translating-loot) explains how to update it. After that, if you'd like, you could also provide translations for masterlist messages too. You can use this [spreadsheet](https://github.com/loot/skyri

[2021-03-18 07:08] RacerBG commented on #1280
@pStyl3 Here you go (Bulgarian translation):

`Информация за почистване на приставките в xEdit може да намерите [тук](https://tes5edit.github.io/docs/7-mod-cleaning-and-error-checking.html#ThreeEasyStepstocleanMods).`

[2021-03-18 10:54] RacerBG commented on #646
@sibir-ine @MacSplody Here is the Bulgarian translation:

[code]

[2021-03-18 11:23] sibir-ine commented on #646
@RacerBG Thank you so much for these! I'll add them to the masterlists shortly. If you wouldn't mind translating a couple more messages that are only in the other masterlists, here's the latest version of @pStyl3's [spreadsheet](https://github.com/loot/skyrimse/files/6163579/Masterlist_Localizations_v7.xlsx). You can ignore `&fixedPluginOutSub`, `&fixedPluginPreCK`, & `&patchRequiem3rdParty` as I'

[2021-03-18 12:12] RacerBG commented on #646
@sibir-ine I won't leave a single untranslated string, I promise. It's quite well made resource for localization, nice spreadsheet indeed! I have a quick question though: How I'm supposed to know which string is not translated because as far as I can see (and for obvious reasons) my translation is not there yet? :smile_cat:

[2021-03-18 12:17] sibir-ine commented on #646
@RacerBG Much appreciated! Aliases & global messages are identical across all masterlists, so any aliased/global message you translated here, you don't need to translate again in the spreadsheet. If you'd prefer, you can wait until @pStyl3 adds your translations to the spreadsheet. Either of us will let you know when that happens.

[2021-03-18 12:22] RacerBG commented on #646
No problems, just let me know when it's ready and thanks for your help. :smiley: At first, I had disabled notifications and didn't have a clue about the existence of these strings just before a few days!

[2021-03-19 16:37] pStyl3 commented on #646
@RacerBG

It's ready!
[Masterlist_Localizations_v8.xlsx](https://github.com/loot/skyrimse/files/6172737/Masterlist_Localizations_v8.xlsx)

Thanks for all the translations so far. These messages are still missing Bulgarian translations:
[code]

Though these can be ignored:
[code]

If you'd like to add further translations, simply go to the `StringsByLanguage` spreadsheet within the document,
and se

[2021-03-20 12:53] RacerBG commented on #646
@pStyl3 Here is the Bulgarian translation, ignoring the strings that you already mentioned:

[code]

PS: I'm a little worried about the context in which some of those strings are used. In Bulgarian the verbs and the adjectives are sensitive in regards to the gender and there is a possibility that a few sentences may sound a little weird if my predictions are wrong. :smile: I tried to be neutral as

[2021-03-20 14:03] sibir-ine commented on #646
@RacerBG Which strings in particular do you need context for? We'd be more than happy to supply it!

[2021-03-20 14:09] RacerBG commented on #646
@sibir-ine &incMaxLevelMods, &incWeatherImageSpace, &incWithPatchVersionX and &vanillaMapMarkers.

[2021-03-20 14:25] sibir-ine commented on #646
@RacerBG They're all used on plugins exclusively, but `&incWithPatchVersionX` could hypothetically be used for non-plugin mods more generally. If you want to know what would be inserted in `&incWithPatchVersionX`, it's specifically meant for FO4 patch versions (e.g. Incompatible with "Fallout 4 Patch 1.5.157.0" or greater.)

[2021-03-20 14:30] RacerBG commented on #646
Thank you very much! I made the required corrections and now it's ready to go. :smiley:

This made me think how many things are possibly screwed up with my previews translations but let's pretend that everything is in order... :smile:

EDIT: Looks like the other strings are fine. I somehow used the right gender in the sentences.

[2021-03-20 15:25] sibir-ine commented on #646
@RacerBG Thank you so much! I'll add them to the masterlists in a bit.

[2021-03-20 18:35] #646 closed, assigned to nobody

[2021-03-20 21:44] pStyl3 commented on #646
Thanks @RacerBG, we are now at 100% for Bulgarian for the global masterlist messages. Cheers!

[2021-03-25 20:12] MacSplody opened #1691 "Lux"
### [Lux](https://www.nexusmods.com/skyrimspecialedition/mods/43158/)

From post on LOOT nexus mod page.

![image](https://user-images.githubusercontent.com/1944639/112537224-57ad6100-8da6-11eb-8e8d-87e64a392b33.png)

---

Worldspace changes reverted by most mods.

![image](https://user-images.githubusercontent.com/1944639/114693524-97b29480-9d11-11eb-884f-f95d7f6c6b85.png)

4 Record conflicts in

[2021-03-27 05:00] MacSplody opened #1693 "Books of Skyrim SE - Redux"
### [Books of Skyrim SE - Redux](https://www.nexusmods.com/skyrimspecialedition/mods/46991)

Fixed esp for Books of Skyrim.

[2021-03-27 14:57] #1693 closed, assigned to nobody

[2021-03-27 15:04] MacSplody opened #1696 "Your Choices Matter"
### [Your Choices Matter - A Dark Brotherhood Expansion SSE](https://www.nexusmods.com/skyrimspecialedition/mods/46871)

---

![image](https://user-images.githubusercontent.com/1944639/112920600-354a7900-9101-11eb-9ae9-062381034d05.png)

---

![image](https://user-images.githubusercontent.com/1944639/112920659-4f845700-9101-11eb-9ded-9b690bddc8dc.png)

#### Load After

#### Incompatible

---

- [x

[2021-03-27 23:21] Zipfer opened #1700 ""ELFX - Weather" "True Storms Special Edition" "Obsidian Weathers" compatibility patches"
Here are two compatibility patches that are not described in the compatibility list:
https://www.nexusmods.com/skyrimspecialedition/mods/19837
https://www.nexusmods.com/skyrimspecialedition/mods/17198

Not sure if there is the ability to use all of them at the same time. I'm testing it right now

[2021-03-28 05:12] sibir-ine commented on #1700
@Zipfer Both patches are mentioned in the entries for [True Storms](https://github.com/loot/skyrimse/blob/03792ebd2153552824600007cb100c17d7468485/masterlist.yaml#L4007-L4049) & [Obsidian Weathers](https://github.com/loot/skyrimse/blob/03792ebd2153552824600007cb100c17d7468485/masterlist.yaml#L3902-L3956), respectively. They both have entries of their own [here](https://github.com/loot/skyrimse/blo

[2021-03-28 05:23] sibir-ine commented on #1700
Also, they likely won't all work together. I don't personally know with 100% certainty, but weather overhauls like ELFX Weathers & Obsidian tend not to be compatible with each other. We even have them explicitly [labeled](https://github.com/loot/skyrimse/blob/03792ebd2153552824600007cb100c17d7468485/masterlist.yaml#L3914) as incompatible with each other. True Storms is more focused on one aspect o

[2021-03-28 06:12] Zipfer commented on #1700
@sibir-ine Thank you for your quick response. I thought that ELEX is about lightning not about the weather.
https://www.nexusmods.com/skyrimspecialedition/mods/2424

[2021-03-28 06:17] sibir-ine commented on #1700
@Zipfer Yes, it's mostly a lighting mod, but it also has an add-on in the installer named **ELFX - Weathers.esp**. The [first patch](https://www.nexusmods.com/skyrimspecialedition/mods/19837/) you linked is for it & True Storms.

[2021-03-28 06:33] Zipfer commented on #1700
I see. I actually also found it. And I also realized that some patches allow enabling conflicting options.
So, I disabled the weather option from ELEX and now it seems to be working fine.
That's why I've got this mess with required patches. I can't remember right now what was the initial setup. So, it fixed for me.
Thank you!
And thank you for your great app!

[2021-03-28 06:35] #1700 closed, assigned to nobody

[2021-03-31 08:39] sibir-ine opened #1723 "Scrambled Bugs"
[Link](https://www.nexusmods.com/skyrimspecialedition/mods/43532/)

- [x] Add ~~`*deletePlugin`~~ `*useVersion` to `WM Flora Fixes.esp`
- [x] Create `&alreadyInOrFixedByScrambledBugs` message anchor
- [x] Add `*alreadyInOrFixedByScrambledBugs` to `FloraRespawnFix.esp`
- [x] Add `*alreadyInOrFixedByScrambledBugs` to `Lafreakshow_AutoEquipAmmo.esp`
- [x] Add `*alreadyInOrFixedByScrambledBugs` to `Pi

[2021-03-31 17:46] easelgames opened #1726 ""3D Trees Patches + Better Dynamic Snow V3.0" FLAG if Both Esp's Present"
Just bringing this up as I stumbled upon it. Skyrim Mod "Skyrim 3D Trees Patches" No longer needs the BDS "Better Dynamic Snow" patch if using BDS version 3.0.

3D Trees Patches Page + [Post](https://forums.nexusmods.com/index.php?/topic/8761528-skyrim-3d-trees-patches/page-6#entry89188868) stating this.

Simply bringing it to your attention to flag "No longer needed" under "S3DTrees Better Dynami

[2021-03-31 18:49] #1696 closed, assigned to nobody

[2021-04-01 04:03] sibir-ine commented on #1726
@easelgames From the looks of it, BDS 3.0+ renamed the plugin from `Better Dynamic Snow.esp` to `Better Dynamic Snow SE.esp`. `S3DTrees Better Dynamic Snow Patch.esp` has `Better Dynamic Snow.esp` as a master, so, if you're using BDS 3.0+, you'll get a missing masters error anyway. We could also add a message to indicate that the patch has been included in or otherwise fixed by BDS 3.0+ (if that's

[2021-04-01 10:48] easelgames commented on #1726
You know I actually played with this mod + patch + 3.0 installed and never saw any errors now that I think on it.. (tons of hours) This may need more investigating.

[2021-04-01 10:54] sibir-ine commented on #1726
@easelgames Do you still have `Better Dynamic Snow.esp` installed & active?

[2021-04-01 11:00] easelgames commented on #1726
... OK yes. I have it listed as Better Dynamic Snow.esp on MO2. Which is really strange considering I'm running 3.3 and it even shows as 3.3 in MO2. This must be an oddity response to having had 2.0 and using the "merge" when updating command. I can't think of what else it would be. That is weird

EDIT: OK it kept the old one too in MO2. So because I merged and didn't know he changed plugin names,

[2021-04-01 11:11] sibir-ine commented on #1726
@easelgames Yeah, it's because you merged instead of replacing when you installed. It's not odd behavior, it's what you'd expect (& frankly hope for) from merging since the plugin got renamed to `Better Dynamic Snow SE.esp` in 3.0. When updating, you're better off replacing so that not only do updated files overwrite outdated ones, deprecated & unused files are removed as well. MO2 also gives you

[2021-04-01 11:43] easelgames commented on #1726
Thanks again. I'm not sure how this effected my in-game as I honestly never noticed but maybe this was because I had been using the patch. Does the SE  named plugin just get ignored then if both are in with the other version higher? I would assume so based on priority...

[2021-04-01 11:50] sibir-ine commented on #1726
@easelgames Neither would get ignored unless you deactivated one of them; they would just be treated like they're separate mods. If the old version loaded after, it would revert some changes made in 3.0+, but it doesn't look like there are any catastrophic conflicts.

[2021-04-01 11:51] easelgames commented on #1726
OK looking into this further. It may be worth mentioning that these mods: https://www.nexusmods.com/skyrimspecialedition/mods/20102?tab=posts
https://www.nexusmods.com/skyrimspecialedition/mods/22741?tab=posts

Plugins no longer work with BDS v3.0 or higher. (redundant) Thanks!

[2021-04-01 12:01] sibir-ine commented on #1726
@easelgames Thanks for the additional reports!

[2021-04-01 12:07] easelgames commented on #1726
One more thing that will need testing that I'm NOT sure on.. IF mods like Obscures College Of Winterhold, or WiZkiD-Compendium-Patches for BDS, are looking for the old BetterDynamicsnow.esp name. Loot correctly flags this so it's not really a loot issue, but worth mentioning as I'm not sure how 3.0 works currently if you take those patches out with said mods in question.

[2021-04-02 07:35] #1726 closed, assigned to nobody

[2021-04-02 07:44] sibir-ine commented on #1726
@easelgames I updated the entry for BDS & added messages for the patches you mentioned. Most seem to require the old BDS as a master, so the warning message to only use one version of BDS combined with the missing masters message should hopefully be enough for any others. However, feel free to report any more you find so we can provide the supplemental message. Thanks for reporting these to us!

[2021-04-08 14:58] SkyLover264 commented on #1723
Rather than having it say to delete WM Flora Fixes.esp, I think it'd be better to have it say to use the scriptless version of the mod instead.

[2021-04-08 15:12] sibir-ine commented on #1723
@SkyLover264 Good call, I'll update it to use `*useVersion` with `type` value `say` when I get to my computer. Thanks for pointing that out!

[2021-04-09 15:31] SkyLover264 commented on #1723
Also, if it hasn't already been done, you should add *deletePlugin to FloraRespawnFix.esp.

[2021-04-09 15:36] sibir-ine commented on #1723
@SkyLover264 Thanks, I'll take a look at that mod too. I'm assuming it's [this one](https://www.nexusmods.com/skyrimspecialedition/mods/13186/)?

[2021-04-09 15:39] SkyLover264 commented on #1723
It is, yeah. I also found [this](https://www.nexusmods.com/skyrimspecialedition/mods/27781), but I don't know if it can be accounted for, because it doesn't have a plugin.

[2021-04-09 15:46] sibir-ine commented on #1723
@SkyLover264 Yeah, since neither mod has a game plugin, it'd be too convoluted to display a message for either in this case.

[2021-04-10 18:28] easelgames opened #1764 "JK's The Winking Skeever + Alternate Start LAL"
JKs_The_Winking_Skeever_AlternateStartMods.esp
https://www.nexusmods.com/skyrimspecialedition/mods/43991?tab=files
Needs to load AFTER "alternate start - live another life" and other alternate start mods. According to mod author of JK. Not sure on validity of this in practice if it makes a difference. The current loot list as of writing this placed this ESP before LAL for me.

![delete me 1](https

[2021-04-10 23:30] MacSplody commented on #1764
That looks correct, at least for ASLAL.

![image](https://user-images.githubusercontent.com/1944639/114287074-ff3fba00-9a5b-11eb-813a-91bbc076d280.png)

---

If the author wasn't active it might make sense, but they are and it's something they can easily fix by themselves.

[2021-04-10 23:33] MacSplody commented on #1764
Also needs a `C.Water` tag.

![image](https://user-images.githubusercontent.com/1944639/114287232-44182080-9a5d-11eb-804a-59ef24b2e370.png)

---

Load after ICAIO
One navmesh conflict, JK's makes a larger number of changes and adds some new doors.

![image](https://user-images.githubusercontent.com/1944639/114287238-5abe7780-9a5d-11eb-80b0-03c02d104118.png)

[2021-04-10 23:47] MacSplody commented on #1764
One ITM that may block a change from Open Cities.

Test file containing the ITM.

![image](https://user-images.githubusercontent.com/1944639/114287526-6a3ec000-9a5f-11eb-9b3d-b7f8fef45c78.png)

[code]

[2021-04-11 12:54] easelgames opened #1765 "Reliquary of Myth - ISC.esp + MLU.esp Sorting Backwards"
In: Reliquary of Myth - Artifact Overhaul
https://www.nexusmods.com/skyrimspecialedition/mods/31612

The **RoM - ISC + MLU Patch.esp** Needs to load AFTER MLU.esp
Currently based on xedit.
![loot error 01](https://user-images.githubusercontent.com/46850157/114304854-6f256300-9aa3-11eb-8ae4-e06d5ec6b747.png)
_affects all red listed armor/weapons on left_

[2021-04-11 13:00] sibir-ine commented on #1765
@easelgames Yeah, it doesn't have MLU as a master, & MLU is in a later group than it. We can add a requirement to sort it correctly. Thanks for the report!

[2021-04-11 13:05] easelgames commented on #1765
Should I mention this master suggestion on the RoM page?

**EDIT: Already pointed out on the RoM posts page. Not addressed yet so glad I brought it up here I suppose lol**

[2021-04-11 13:08] sibir-ine commented on #1765
@easelgames Yeah, I don't see why the mod shouldn't have MLU as a master even if it technically doesn't need it.

[2021-04-11 19:34] cecell opened #1766 "Add listing for "World of Rudra""
This is an off-site abandoned mod but one that still has a following.  The link isn't really official but i'll include it outside of the block.  You can make the choice to include it or not:

    url: [ 'https://general-andreis.tumblr.com/post/162162012046/mod-shoutout-world-of-rudra-by-bee9999-im-still' ]

  - name: 'Worldofrudra.esm'
    dirty:
      - <<: *quickClean
        crc: 0xE73DA8F2

[2021-04-11 19:51] sibir-ine commented on #1766
@cecell Is that link from the original author? If not, has the author given them permission or otherwise allowed the mod to be distributed freely on other sites? If not, it may not be the best idea to add it unless you can provide an official location.

[2021-04-11 19:54] pStyl3 commented on #1766
That website holds a download link that links to `mega.nz` - which itself is very uncommon as a `url` within LOOT's masterlist, but not out of the question. Our masterlist for Fallout 3 does contain such a link for example, so we could use that theoretically.

That being said, and basically what @sibir-ine is saying, I don't think that this `tumblr` page is what we are looking for, as I also don't

[2021-04-12 01:04] cecell commented on #1766
Idk that's why I left it up to y'all.  I'd say don't bother putting it in
there personally. Then you're done!  I haven't read anything anywhere
claiming/stating that any permissions were given by anyone at anytime,
sorry.  I'm sadly monolingual as well and have a sneaking suspicion that
any such statements wouldn't be in english.  The ESM file is 93MB though
and the world is supposedly like double

[2021-04-12 01:26] #1764 closed, assigned to nobody

[2021-04-12 07:39] sibir-ine commented on #1766
@cecell Then we'll close this for now.

[2021-04-12 07:39] #1766 closed, assigned to nobody

[2021-04-14 14:01] easelgames opened #1770 "Celtic Music In Skyrim - Minor Plugin Order Suggestion"
Just a VERY simple ask. When using Celtic Music in Skyrim found here:
https://www.nexusmods.com/skyrimspecialedition/mods/2980?tab=files

I noticed that the music wasn't working and I believe I fixed it by adding custom loot rules for the optional installs to load AFTER the main .esp. It's probably a niche` mod that not to many use or have issues with but it's probably worth me submitting anyway.

[2021-04-14 17:49] sibir-ine commented on #1770
@easelgames We always appreciate reports; there's only so much we can find out in our own time, so we depend on reports from users, especially for niche mods that we probably haven't heard of.

In this case, load order doesn't matter as the plugins don't conflict (verified in xEdit), & there are no BSA conflicts. However, what may be causing you issues is the fact that the combat add-on's BSA has

[2021-04-14 18:06] easelgames commented on #1770
Hmm well it did get it fixed for me. But I also use Immersive Sound Compendium + Audio Overhaul Skyrim . When I added AOS prior to rearranging the celtic I heard the original music. Though this could just be random luck as the mod does keep the vanilla music in-game it just lowers the chances. I still figured it a safe bet based on most cases to have the main mods plugin loading first, rather then

[2021-04-14 23:46] sibir-ine commented on #1770
@easelgames Unless there's some subtle mechanic going on that I'm not aware of, it's most likely that.

Since I think it's for the best not to add unnecessary load rules for maximum compatibility across everyone's different mod lists, we should just let LOOT's algorithm handle it. Since the mods don't conflict & LOOT minimizes unnecessary changes (like changing the order of mods that don't conflic

[2021-04-15 06:33] cecell opened #1771 "Cleaning info w/links all from Nexus"
<details><summary>Cleaning reports</summary>

[code]

</details>

[2021-04-15 06:39] sibir-ine commented on #1771
@cecell Can you please also make a note of the version number of each mod you cleaned?

[2021-04-15 08:50] cecell commented on #1771
https://discord.com/channels/473542112974077963/496196499890241546/823653095484424282

<img width="885" height="420" alt="Image" src="https://github.com/user-attachments/assets/1fe31706-1c42-4598-b0e5-0896ab436bac" />

[2021-04-15 08:53] cecell commented on #1771
It is difficult for me to type due to a recent injury I would appreciate it if you would except it.  I'm having to take advantage of speech to text at the moment if you can't accept it like this then I'll just half to do it later

[2021-04-15 09:06] cecell commented on #1771
Sigh...I'll do it tomorrow I'm going to bed

[2021-04-15 12:30] sibir-ine commented on #1771
@cecell It's not a big deal. I don't know when we'll get around to adding these (I have my hands full ATM), so you can take your time.

[2021-04-15 19:59] cecell commented on #1771
[code]

[2021-04-15 20:10] sibir-ine commented on #1771
Perfect, thanks.

[2021-04-18 08:35] #1765 closed, assigned to nobody

[2021-04-18 09:03] #1770 closed, assigned to nobody

[2021-04-23 09:56] #1771 closed, assigned to nobody

[2021-04-23 09:58] sibir-ine commented on #1771
@cecell They've all been added. Thanks!

[2021-05-04 08:10] KhrysINXS opened #1807 "Project New Reign - Nemesis PCEA"
[Project New Reign - Nemesis PCEA](https://www.nexusmods.com/skyrimspecialedition/mods/31667)

Implement a message of sorts instructing the user how to resolve that error/corrupt or broken module. Being aware now that each Nemesis Batch run edits the plugin in a way that adds null bytes to it; just so the user doesn't get confused by the LOOT message saying that its broke; perhaps a bit of an expl

[2021-05-04 08:18] sibir-ine commented on #1807
Keep in mind that due to the way the plugin ends up getting corrupted, LOOT will not only show a message saying it's invalid but also hide its plugin card, so the message won't be displayed then. The message would have to be persistent & be something like "If LOOT discovers this plugin to be invalid, do XYZ to fix it." That way, even though people won't see it when they really need it, hopefully t

[2021-05-06 22:00] tizl10 opened #1810 "What is blocking LOOT??"
Something is blocking my LOOT from connecting to git, whenever I try to sort I get this error in the debug file:

Exception while executing query: Git operation failed. Details: -1; failed to send request: A connection with the server could not be established
: libgit2 error

I have seen this error referenced a few times in connection to Vortex and MO2 (I'm currently using MO2, but gave up on Vort

[2021-05-16 18:09] Ensrick opened #1819 "Skyrim Special Edition: Convenient Horses Patches"
The mod recommended for creating patches that encompass the new lands now is merged into a single plugin by the author of the patches. The installation process takes the user through a variety of options and then selects one of many possible merged patch plugins. LooT doesn't recognize the merged patch I'm using for Convenient Horses that covers Wyrmstooth, Bruma, Northpoint, Midvale Isle, and Bey

[2021-05-16 18:54] MacSplody commented on #1819
For [Bruma and Other Patches for Convenient Horses](https://www.nexusmods.com/skyrimspecialedition/mods/13812/), they've changed some of the patch names, so those will need to be updated.

[2021-05-16 19:32] MacSplody commented on #1819
I think we should just remove the messages for these patches, it has some patches under misc files that we can't account for.

[2021-05-16 20:00] #1819 closed, assigned to nobody

[2021-05-30 07:16] ketsuban opened #1836 "Arena - An Encounter Zone Overhaul should sort after Morrowloot Ultimate"
LOOT already includes rules for sorting `MLU - Vanilla Encounter Zones.esp` after `MLU.esp`, as well as [Rebalanced Encounter Zones](https://www.nexusmods.com/skyrimspecialedition/mods/25); [Arena - An Encounter Zone Overhaul](https://www.nexusmods.com/skyrimspecialedition/mods/33487) (`Arena.esp`) is the same, in that the main reason to install both is to override Morrowloot Ultimate's static enc

[2021-05-30 08:14] #1836 closed, assigned to nobody

[2021-05-30 08:15] sibir-ine commented on #1836
@ketsuban Added, thanks for the report!

[2021-05-31 20:18] MacSplody opened #1839 "Arena Encounter Zone Overhaul - Cleaning & Load Order"
[Arena - An Encounter Zone Overhaul](https://www.nexusmods.com/skyrimspecialedition/mods/33487/)
Version 1.1.0

Requested change on [Discord](https://discord.com/channels/473542112974077963/496196499890241546/849008892637216778)

![image](https://user-images.githubusercontent.com/1944639/120239109-7e2fc280-c255-11eb-80da-d832907387aa.png)

- [x] Remove cleaning info.
~~- [ ] Add afters for conflic

[2021-05-31 20:23] sibir-ine commented on #1839
I already added an after for Morrowloot, it doesn't conflict with Skyrim Revamped, & LOOT automatically sorts it after Inez & Open World Loot.

[2021-05-31 20:45] MacSplody commented on #1839
There's the two encounter zone patches for MLU, did you check those?

[2021-05-31 20:57] sibir-ine commented on #1839
Yes, it loads after them automatically with the after for MLU.

[2021-05-31 21:13] #1839 closed, assigned to nobody

[2021-06-03 05:28] MacSplody opened #1845 "Diverse Skyrim Battle of Whiterun Fix & CIVIL WAR OVERHAUL Redux Conflict"
[Diverse Skyrim - Battle of Whiterun Fix](https://www.nexusmods.com/skyrimspecialedition/mods/47939)

[CIVIL WAR OVERHAUL - Redux](https://www.nexusmods.com/skyrimspecialedition/mods/37906)

Reported on modpage

![image](https://user-images.githubusercontent.com/1944639/120591865-c5c07500-c434-11eb-9624-613a107cad78.png)

![image](https://user-images.githubusercontent.com/1944639/120591669-7417ea8

[2021-06-03 22:01] #1723 closed, assigned to nobody

[2021-06-03 22:19] #1845 closed, assigned to nobody

[2021-06-04 22:17] MacSplody commented on #1807
The only thing we could reliably do, is to always show a global message if that file is present.
Is there a concise way to explain the problem?

Are there steps to reproduce the issue btw?

[2021-06-06 02:02] MacSplody commented on #1691
Navmesh conflict with Eli Breezehome Player Home.
![image](https://user-images.githubusercontent.com/1944639/120910045-5b494800-c673-11eb-8c4b-3be676b436f1.png)

[2021-06-06 06:02] MacSplody commented on #1807
Tested and managed to generate a corrupted plugin.
No steps to replicate yet.
![image](https://user-images.githubusercontent.com/1944639/120914176-27cae580-c694-11eb-9426-1f1a2853d2e8.png)

[2021-06-07 00:52] MacSplody opened #1852 "Large reference errors and reference handle cap plugins"
Listing plugins here for future reference.
For users working around large reference errors and reference handle cap.
Plugins that may need load after rules disabled if plugin is ESM flagged.

Provided by ra2phoenix on [Discord](https://discord.com/channels/473542112974077963/496196499890241546/851249164892766209)

- [x] `0Kaidan.esp` - No load after rules.
- [x] `1Minotaurs.esp` - Not in masterlis

[2021-06-11 10:13] #1658 closed, assigned to nobody

[2021-06-11 22:24] MacSplody commented on #1691
Testing with the following mods:

![image](https://user-images.githubusercontent.com/1944639/121754250-03479100-cb0c-11eb-9cce-9b3fe8d06cda.png)

The optimal order seems to be Lux Before Open Cities, but could be placed later if not using certain interior overhaul mods.
There are no conditional groups, so this is the latest it can be grouped if using OCS.

![image](https://user-images.githubuserco

[2021-06-16 07:32] #1691 closed, assigned to nobody

[2021-06-16 13:53] Nesbit098 opened #1890 "The People of Skyrim V10"
To update and inform you The People of Skyrim V10 is now compatible with Immersive Citizen's, Open  Cities, ai overhaul, Cutting Room Floor, without the need for patches. There is only ONE version of  TPOS 2 now. The old partial, and open cities version has gone with the patch for open cities. No longer required.
https://www.nexusmods.com/skyrimspecialedition/mods/22392

[2021-06-16 19:45] MacSplody opened #1892 "aMidianBorn Content Addon - Lite version"
[aMidianBorn Content Addon](https://www.nexusmods.com/skyrimspecialedition/mods/35390)

https://discord.com/channels/473542112974077963/496196499890241546/854806486194847815

![image](https://user-images.githubusercontent.com/1944639/122282145-fbf4fe80-cee2-11eb-86d9-25d66c37a096.png)

### New Version
`aMidianBorn_ContentAddonLight.esp`

**Requirement**
[aMidianBorn Book of Silence SE](https://www

[2021-06-17 07:43] #1892 closed, assigned to nobody

[2021-06-17 23:07] IllusiveMan196 opened #1900 "Couple more dirty mods..."
LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/34657
Version 1.1 esl

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/51006
Version 1.4.1

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/22070
Version 1.0.7

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.c

[2021-06-17 23:18] IllusiveMan196 commented on #1900
And some more:

LOOT Masterlist Entries
[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/26042
Version 1.1

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/42065
Version 1.0

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/25714
Version 2.0
Not really sure as to this mod, because it is supposed t

[2021-06-17 23:33] IllusiveMan196 commented on #1900
LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/25081
Version 1.4k (skooma dealer's den addon mod)

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/44519
Version 1.0 (Vanilla edition non esl)

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/43477
Version 1.3.4

LOOT Mast

[2021-06-17 23:46] IllusiveMan196 commented on #1900
LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/25556
Version 10

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/9450
Version 1.0

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/30317
Version 2

LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspe

[2021-06-18 16:07] IllusiveMan196 commented on #1900
LOOT Masterlist Entries

[code]

Link: https://www.nexusmods.com/skyrimspecialedition/mods/48252
Version 1.1

[2021-06-19 06:24] sibir-ine commented on #1900
I omitted _The One Ring_ since the plugins on that page are all form 43. Many users, if not most, will probably resave it in the CK, making the checksum volatile & the cleaning data not particularly useful.

[2021-06-19 06:34] #1900 closed, assigned to nobody

[2021-06-19 17:49] IllusiveMan196 commented on #1900
Can't check if it's the right mod... Nexus history doesn't load ~~and this page isn't marked as "you've downloaded this file" for some reason~~ nope, it's the right mod. In Form 43 works fine so far.

[2021-06-24 03:26] #1890 closed, assigned to nobody

[2021-06-26 13:00] sibir-ine opened #1906 "Master of Disguise"
[Link](https://www.nexusmods.com/skyrimspecialedition/mods/9959/)

- [x] Add SKSE requirement
- [x] Add requirement message for [Address Library](https://www.nexusmods.com/skyrimspecialedition/mods/32444/)
- [x] Add message recommending [Bug Fixes](https://www.nexusmods.com/skyrimspecialedition/mods/33261/) or [Scrambled Bugs](https://www.nexusmods.com/skyrimspecialedition/mods/43532/) for ability

[2021-06-27 09:41] Dreifels opened #1908 "posting SSEdit status not in master day later?"
https://www.afkmods.com/index.php?/topic/5042-relz-loot-load-order-optimisation-tool/page/35/
lot of enries but new masterlist does not contain any

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[co

[2021-06-27 10:24] sibir-ine commented on #1908
@Dreifels Adding reported data to a masterlist can take some time depending on when we have the chance to do so & how much data is being added, so, especially for a list this long, it won't necessarily be added within a day. Data not submitted as a PR takes longer as well as we need to add it ourselves.

Also, before we add any data to the masterlist, we need the URL for each mod so later maintain

[2021-06-27 10:44] Dreifels commented on #1908
these are translations, partially different versions, not yet published resp. partially for some users only.
the download url can*t provide.
as I understand, these information and the masterlist is for those who already got it, not for those who not yet have it, otherwise LOOT makes no sense
If this does not work,  it is worthless to provide any SSEdit quickclean resuts anyways, total worthless wo

[2021-06-27 11:49] pStyl3 commented on #1908
@Dreifels
I am assuming that there is some language barrier, so to avoid any of that I'm answering in German now.
___
Dreifels, wir vom LOOT Team sind immer dankbar, wenn wir Hilfe von Dritten bekommen, und deswegen sind wir natürlich auch froh, wenn du uns deine Hilfe anbietest. Dafür bedarf es allerdings einer strukturierten Diskussion, sowie dass du auf das eingehst, was einzelne Mitglieder von

[2021-06-27 12:19] Dreifels commented on #1908
1)  Nexus hat immer noch die SSEEdit 4_0_3 vom  02 Dec 2019, 10:47PM, das ist normal meine Quelle, Wenn dort nicht veröffentlicht, betrahte ich das als BETA und damit nicht zum Gebrauch. Wobei sich sowieso die Frage stell: wrum nicht bei Nexus veröffentlicht?

2) Ihr seid so gute Programmierer aber nicht mal in der Lage, ein template für den Uploader anzubieten?

3) die Verlinkungspflicht mit Nexu

[2021-06-27 12:37] pStyl3 commented on #1908
Wir sind nicht die Entwickler von xEdit, dies ist @ElminsterAU. Er wird seine Gründe haben, sie noch nicht auf Nexus hochgeladen zu haben, allerdings wissen wir, dass 4.0.3g nunmal schon Bugfixes bekommen hat (und 4.0.3g ist auch nicht als `EXTREMELY EXPERIMENTAL` gekennzeichnet, wie z.B. die ebenfalls noch nicht offiziell erschienene Version 4.1.3g).

Ich weis zwar nicht, was du unter `template`

[2021-06-27 12:37] #1908 closed, assigned to nobody

[2021-06-29 11:39] #1906 closed, assigned to nobody

[2021-06-29 21:08] MacSplody opened #1910 "More Gold"
### [More Gold](https://www.nexusmods.com/skyrimspecialedition/mods/15493)

Multiple version installed at once
`MoreGoldx2.esp`
`MoreGoldx5.esp`
`MoreGoldx10.esp`

Requires Relev tag.

![image](https://user-images.githubusercontent.com/1944639/123867371-2f457d80-d926-11eb-8422-07b73bda2130.png)

- [x] Add useOnlyOneX message.
- [x] Add tag suggestion.

[2021-07-01 09:34] #1910 closed, assigned to nobody

[2021-07-26 17:06] fwdekker opened #1957 "Immersive Weapons / WACCF incorrect/incomplete patch suggestion"
I have `Immersive Weapons` and `Weapons Armor Clothing and Clutter Fixes` installed as mods. LOOT then correctly states that I should download a patch from `kryptopyr's Patch Hub`. However, after installing the appropriate patch, the suggestion to install that patch remains. Based on the current master list, I think this is because the condition reads
[code]

I do not have `Complete Crafting Overh

[2021-07-26 21:01] MacSplody commented on #1957
The patch needs to be enabled as well.
![image](https://user-images.githubusercontent.com/1944639/127058371-9ded9764-8128-4f00-8a91-45fdce5c68b9.png)

You'll know LOOT sees it as enabled when there's a green tick beside the plugin name.
![image](https://user-images.githubusercontent.com/1944639/127058278-bfd712e3-6221-4517-948a-8dd3b7cf76f5.png)

[2021-07-26 21:19] fwdekker commented on #1957
I can confirm that `Immersive Weapons_WACCF_Patch.esp` is enabled (not just listed, it's enabled with priority 157) in my plugins, and I still get the suggestion. It has a green tick in LOOT. Only when I also install CORR does the suggestion disappear.

[2021-07-26 21:30] MacSplody commented on #1957
I can't troubleshoot it without more information.
Can you supply a full debug log for when the issue is happening?
[How To Report Issues Helpfully](https://loot.github.io/docs/help/How-To-Report-Issues-Helpfully.html)
Make sure to turn on debug logging in settings.
![image](https://user-images.githubusercontent.com/1944639/127061796-99c1ba4c-e887-4ed6-9aef-03dc13400e1a.png)

[2021-07-26 22:09] fwdekker commented on #1957
## Steps to reproduce
1. Create a clean Skyrim SE install.
2. Install [Unofficial Skyrim Special Edition Patch](https://www.nexusmods.com/skyrimspecialedition/mods/266) v4.2.5b.
3. Install [Immersive Weapons](https://www.nexusmods.com/skyrimspecialedition/mods/16788) v2.
4. Install [Weapons Armor Clothing and Clutter Fixes](https://www.nexusmods.com/skyrimspecialedition/mods/18994) v2.5.
5. Instal

[2021-07-26 23:48] MacSplody commented on #1957
Right I see where the problem is.
LOOT is checking for `Immersive Weapons_WACCF_Patch.esp`
And you have `WACCF_ImmersiveWeapons_Patch.esp`, which is the old version of the patch for WACCF v1.

[2021-07-27 09:39] fwdekker commented on #1957
Oh I see, that solved it. I thought I had checked that, but somehow I still ended up using an old version. Thank you!

[2021-07-27 09:39] #1957 closed, assigned to nobody

[2021-08-24 20:00] Earnest-Williams opened #1977 "The currently recommended AI Overhaul / Open Cities patch is not recognized by LOOT."
The recommended patch can be found here: https://www.nexusmods.com/skyrimspecialedition/mods/4635?tab=files

[2021-08-24 20:24] Earnest-Williams opened #1978 "LOOT reports that JK's Skyrim and Open Cities are incompatible, however multiple patches exist."
LOOT is not aware of, eg, the Dawn of Skyrim/JK's Skyrim/Open Cities of Skyrim patch I am using and can be found here:

https://www.nexusmods.com/skyrimspecialedition/mods/4635?tab=files

[2021-08-25 01:25] MacSplody commented on #1977
Right, I'll have a look at those now and compare the patches.

[2021-08-25 01:48] MacSplody commented on #1977
There are some problems with that patch.

It's based on the order:
Open Cities Skyrim.esp
AI Overhaul.esp
AIOHisyOCS.esp

Which isn't a problem if it's patched correctly, but it's not.
It's reverting changes to the cells that objects are being placed into.

![image](https://user-images.githubusercontent.com/1944639/130712080-62b20835-18d9-4b05-80f6-ab72346750a7.png)

![image](https://user-images.g

[2021-08-25 03:03] MacSplody commented on #1977
@Earnest-Williams I've posted an updated patch on [Random Open Cities Patches](https://www.nexusmods.com/skyrimspecialedition/mods/4635), hopefully they use the updated file.
I don't think either patch is useful alone at the moment, as they both have issues, so I'll disable the message for now.

[2021-08-31 00:19] MacSplody opened #2000 "At Your Own Pace - Update Notes"
### [At Your Own Pace](https://www.nexusmods.com/skyrimspecialedition/mods/52704)
[Original thread on Discord](
https://discord.com/channels/473542112974077963/496196499890241546/882039572068966430)

<img width="883" height="833" alt="Image" src="https://github.com/user-attachments/assets/da39231b-f39b-4fe1-b54d-ce96abf1cbbe" />

---
`At Your Own Pace - Main Quest.esp`

#### Incompatible
 - `NotSo

[2021-08-31 17:03] SierraKomodo opened #2001 "Cyclic Interaction - Andromeda & FloraRespawnFix"
LOOT Version: 0.16.1
Masterlist Revision :fa92c7a
Masterlist Date: 2021-08-28

[code]

As a note, this is the `FloraRespawnFix.esp` file generated using the xedit script, not the esp file from nexus mods.

[2021-08-31 17:56] sibir-ine commented on #2001
@SierraKomodo Moving **FloraRespawnFix.esp** to the **default** group should fix it. That group assignment should probably be removed in the masterlist too on account of the xEdit script.

[2021-08-31 18:27] MacSplody commented on #2001
Are those two not incompatible `Complete Alchemy & Cooking Overhaul.esp` and `FloraRespawnFix.esp`?
Since `Complete Alchemy & Cooking Overhaul.esp` includes [Wiseman303's Flora Fixes](https://www.nexusmods.com/skyrim/mods/70656/).
Or am I missing something?

![image](https://user-images.githubusercontent.com/1944639/131556873-083fbcce-a220-4619-82e0-5079b1009f8c.png)

Yeah, that sounds fine.

[2021-08-31 18:35] SierraKomodo commented on #2001
My understanding is the xedit generated version is compatible, since it incorporates all loaded plugins, and it has better inclusion/compatibility with any other mod loaded that flora fixes for the same reasons. There was a discussion on reddit somewhere about all this that I'd found while putting together my current mod list a few days ago, but I can't find it now. To be honest that information c

[2021-08-31 18:41] MacSplody commented on #2001
Maybe there something to it, we could only disable the incompatibility if they're not using the normal version of `FloraRespawnFix.esp`.

Edit: I moved that to a separate issue.

[2021-08-31 18:51] MacSplody opened #2003 "Flora Respawn Fix script - CACO compatibility"
![image](https://user-images.githubusercontent.com/1944639/131556873-083fbcce-a220-4619-82e0-5079b1009f8c.png)

---

My understanding is the xedit generated version is compatible, since it incorporates all loaded plugins, and it has better inclusion/compatibility with any other mod loaded that flora fixes for the same reasons. There was a discussion on reddit somewhere about all this that I'd foun

[2021-08-31 18:55] MacSplody commented on #2001
I've tried it and you end up with this in the generated `FloraRespawnFix.esp`.

Both scripts applied to some records.
![image](https://user-images.githubusercontent.com/1944639/131559258-aacca080-6068-4872-a605-779d9bb41046.png)

The Flora Respawn Fix alone applied to other records.
![image](https://user-images.githubusercontent.com/1944639/131559929-58f0a4a9-3943-4b59-8838-1f0bbfba123b.png)

Now

[2021-08-31 18:59] #2001 closed, assigned to nobody

[2021-09-01 02:25] SierraKomodo opened #2005 "Apocalypse - Magic of Skyrim - Wild Edit warning references non-existant cell record"
- LOOT Version: 0.16.1
- LOOT Masterlist Revision: bbcda59
- Apocalypse Version: 9.45.0 - Current main file shown on the Nexus page https://www.nexusmods.com/skyrimspecialedition/mods/1090?tab=files

When running LOOT for a load order that contains `Apocalypse - Magic of Skyrim.esp`, the following message is presented by LOOT for the plugin:

I may be misunderstanding what the message is saying to

[2021-09-01 03:01] MacSplody commented on #2005
The Wild Edit is in the Worldspace Cells or Exterior Cells.

![image](https://user-images.githubusercontent.com/1944639/131604576-9fb1f1bb-f3a6-4d55-96d7-73a4eca1aafa.png)

Anything under **Cell** is for interior cells.

![image](https://user-images.githubusercontent.com/1944639/131604663-7ec7b3ca-5d38-404e-b02e-d44a34b0dd43.png)

The reason it's marked as a wild edit, is because it changing somet

[2021-09-01 06:16] SierraKomodo commented on #2005
Gooot it. Not a LOOT or masterlist issue then, a ID10T error on my part lol.

[2021-09-01 06:16] #2005 closed, assigned to nobody

[2021-09-03 05:01] woodyafortunato opened #2013 "Paper Maps Framework needs to be at the bottom no matter what or else it won't work."
https://www.nexusmods.com/skyrimspecialedition/mods/29932?tab=posts
Why doesn't loot just know to put this at the bottom already? I had tried to make a custom rule to load it below Synthesis patch but it keeps saying its cyclical error:

Error
Failed to sort plugins. Details:
Cyclic interaction detected between "Atlas Map Markers.esp" and "FWMF for Paper Map by Mirhayasu.esp":

Atlas Map Markers.e

[2021-09-03 05:18] MacSplody commented on #2013
Because no asked for or submitted changes for that mod,
I wouldn't put it at the end anyway, it should be fine in the Worldspace Settings group as nothing will overwrite it then.
It would also need a few load after rules for anything else in Worldspace Settings group like Atlas Map Markers.
And patches for anything it overwrites in your load order.

You're trying to load a file "Synthesis.esp" or

[2021-09-03 05:31] woodyafortunato commented on #2013
Very helpful Mark it as solved and move on ffs

On Thu, Sep 2, 2021, 10:19 PM MacSplody ***@***.***> wrote:

[2021-09-03 06:05] MacSplody commented on #2013
From the information you've provided, the problem appears to be on your end.
There are no updates I can make that will fix your sorting error.

If you think that's not the case then you'll need to provide more information.
[How To Report Issues Helpfully](https://loot.github.io/docs/help/How-To-Report-Issues-Helpfully.html)

[2021-09-03 06:05] #2013 closed, assigned to nobody

[2021-09-03 11:52] #2000 closed, assigned to nobody

[2021-09-04 05:27] #2003 closed, assigned to nobody

[2021-09-04 05:47] MacSplody commented on #1977
I'll close this for now, if either page ever updates the patch we can add the message again.

[2021-09-04 05:47] #1977 closed, assigned to nobody

[2021-09-04 08:37] #1807 closed, assigned to nobody

[2021-09-04 09:20] #1978 closed, assigned to nobody

[2021-09-04 17:29] Sabre142 opened #2020 "'Artifacts of Skyrim - Revised Edition' cleaning report and suggested bash tags"
Mod name: Artifacts of Skyrim - Revised Edition

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/49779

Mod version: 1.1.3

Cleaning report:

[code]

My suggested bash tags for `Artifacts_Revised.esp` (may be fully correct or not):

`Actors.ACBS, C.Light, Graphics, Invent.Add, NPC.DefaultOutfit, ObjectBounds, Outfits.Add`

There are also two patches in the optional files on the mod p

[2021-09-05 01:55] #2020 closed, assigned to nobody

[2021-09-05 01:55] MacSplody commented on #2020
@Sabre142 Thanks.

[2021-09-05 09:21] MacSplody opened #2028 "Skyrim Immersive Creatures - Update changes"
From [AFK mods](https://www.afkmods.com/index.php?/topic/5042-relz-loot-load-order-optimisation-tool/&do=findComment&comment=180466) post by @lifestorock

### [Skyrim Immersive Creatures Special Edition](https://www.nexusmods.com/skyrimspecialedition/mods/12680)

### [SIC SE - Add-Ons and Patches](https://www.nexusmods.com/skyrimspecialedition/mods/54930/)

**Out of date** - [Skyrim Immersive Crea

[2021-09-06 02:32] MacSplody commented on #2028
Updated tag suggestion.
[code]

[2021-09-06 04:34] #2028 closed, assigned to nobody

[2021-09-06 23:51] IllusiveMan196 opened #2050 "And a bunch more ITMs... maybe add a bit more later"
- [x] [Hearthfire Extended](https://www.nexusmods.com/skyrimspecialedition/mods/8450)
[code]
Argonian Hearthfire (no link, because was deleted off Nexus)
[code]
- [x] [Hearthfire Enhanced](https://tes5stuff.blogspot.com/search/label/Recommend%3B) (best guess as to where to get it at all)
[code]
- [x] [Dovahkiin Vault](https://www.nexusmods.com/skyrimspecialedition/mods/42237)
[code]
- [x] [Yuriana

[2021-09-07 17:07] MacSplody commented on #2050
I won't add it if there's no source.

That one seems questionable.

Original mod is here https://www.nexusmods.com/skyrim/mods/29676/
Doesn't seem to be the same author, and they don't give permission to re-host the file.
Edit: Though they did mention they have permission.

[2021-09-07 17:47] IllusiveMan196 commented on #2050
Argonian Hearthfire was here https://www.nexusmods.com/skyrimspecialedition/mods/3052 made by ghastley who cleared out whatever mods there were on account when Nexus made their "collections" move. Twice. Mod name is listed as Argonian Hearthfires - DELETED - DELETED for some reason... Khajiit Hearthfires is also their creation.

Edit to add that all Nether's mods are now here (link to Follower Fra

[2021-09-07 18:14] MacSplody commented on #2050
Okay, if it's deleted we won't add it.

I have that one updated to use the Lovers Lab link https://www.loverslab.com/files/file/6188-nethers-follower-framework/

[2021-09-08 12:37] AndreTheHunter opened #2056 "Wrong metadata from Immersive Creatures and SkyTEST"
LOOT is telling me:

However, going to SkyTEST Integration Project SE
 https://www.nexusmods.com/skyrimspecialedition/mods/13428/?tab=description, shows that the patch is now being maintained by https://www.nexusmods.com/skyrimspecialedition/mods/54930?tab=description

[2021-09-08 12:40] MacSplody commented on #2056
The patch hasn't been released yet, it can be updated when lifestorock releases the patch, should be soon going by the comments.

![image](https://user-images.githubusercontent.com/1944639/132511559-40d584d2-cc26-4562-bf9b-5eadd4ab928c.png)

[2021-09-08 14:50] MacSplody commented on #1852
Closing as I've gone through the full list.

[2021-09-08 14:50] #1852 closed, assigned to nobody

[2021-09-08 20:42] MacSplody commented on #2050
Done in https://github.com/loot/skyrimse/commit/a55348e17d92cf9b7851002ffddc4c1c8b5b2f22.

[2021-09-08 20:42] #2050 closed, assigned to nobody

[2021-09-09 12:45] #2056 closed, assigned to nobody

[2021-09-09 12:46] MacSplody commented on #2056
@AndreTheHunter Done, thanks for reporting it.

[2021-09-10 03:41] Sabre142 opened #2066 "Dawnguard and Clan Volkihar Epilogues link change and cleaning report"
The author's mods have all been removed from the Nexus and reuploaded to AFK Mods:

The new location for this mod can be found here: https://www.afkmods.com/index.php?/files/file/2299-dawnguard-and-clan-volkihar-epilogues/

Cleaning report for version 2.2:

[code]

[2021-09-10 08:47] MacSplody commented on #2066
We could probably open an issue to track all of these, as there are other mods like ETaC, Consistent Older people etc; that have changed location.

[2021-09-14 15:16] #2068 closed, assigned to nobody

[2021-09-14 16:38] MacSplody opened #2069 "Forceful Tongue: Shouts Overhaul - Bash tags required"
### [Forceful Tongue - Shouts Overhaul](https://www.nexusmods.com/skyrimspecialedition/mods/36276/)

Actors.Spells
![image](https://user-images.githubusercontent.com/1944639/133297648-0411a48f-11d0-4443-a474-d6a9cdaccb89.png)

EffectStats
![image](https://user-images.githubusercontent.com/1944639/133297824-689983e7-0bff-483d-8173-4f283c33835a.png)

Invent.Add & Invent.Remove
![image](https://user-

[2021-09-21 01:29] Ray5868 opened #2082 "LOOT"
LOOT will not work with Skyrim SE or Fallout 4. I have uninstalled and reinstalled LOOT with no change. Getting error msg saying no game installed

[2021-09-21 01:46] sibir-ine commented on #2082
Read this [section of the FAQ](https://loot.github.io/docs/help/LOOT-FAQs.html#game-not-detected). If they don't apply, manually enter the install path in each game's entry in LOOT's settings.

![image](https://user-images.githubusercontent.com/69141501/134099493-5adf8384-262f-4257-80cf-b33bc9bbaaea.png)

[2021-09-21 01:59] Ray5868 commented on #2082
All info matches the sample with the exception of the file path, which on
my system is F:

On Mon, Sep 20, 2021 at 8:46 PM sibir ***@***.***> wrote:

[2021-09-21 02:08] sibir-ine commented on #2082
You've entered the file paths that contain **SkyrimSE.exe**/**Fallout4.exe** & LOOT still gives you the error after exiting & restarting it? Then please enable debug logging in the settings menu & [supply a debug log](https://loot.github.io/docs/help/How-To-Report-Issues-Helpfully.html).

[2021-09-21 02:47] sibir-ine commented on #2082
Since you filed a new issue, I'll close this one.

[2021-09-21 02:47] #2082 closed

[2021-09-24 10:37] CrackJan opened #2083 "Supplying Debug Logs"
[LOOTDebugLog.txt](https://github.com/loot/skyrimse/files/7224997/LOOTDebugLog.txt)

[2021-09-24 10:46] sibir-ine commented on #2083
When filing an issue, please describe the issue you're experiencing. Also, make sure to turn on debug mode in LOOT's settings before supplying a debug log (instructions can be found [here](https://loot.github.io/docs/help/How-To-Report-Issues-Helpfully.html)). However, from the error in that log, it may be a Git-related issue. Please read [here](https://loot.github.io/docs/help/LOOT-FAQs.html#git-

[2021-09-27 11:17] Sabre142 opened #2084 "Book Covers Skyrim needs the ObjectBounds bash tag"
[Book Covers Skyrim](https://www.nexusmods.com/skyrimspecialedition/mods/901) version 4.2
Record 0001ACE9:
![image](https://user-images.githubusercontent.com/26516348/134896378-a64f0fb3-6377-4f1b-9054-5bdb52a7c6e2.png)

[2021-09-27 13:59] #2084 closed, assigned to nobody

[2021-09-27 14:08] MacSplody commented on #2066
They added a Do not clean message previously, so I won't add the cleaning info.

[2021-09-27 14:12] #2066 closed, assigned to nobody

[2021-09-27 14:56] #2069 closed, assigned to MacSplody

[2021-10-01 18:06] TechAngel85 opened #2093 "Relighting Skyrim SSE Updates"
**Relighting Skyrim SSE** should be loaded before _Luminosity Lighting Overhaul_ (both versions) and _Enhanced Lighting for ENB_...probably most of the mods in that group. RS only edits object reference placements and those mods edit Cell records containing those objects, thus, they should be loaded _**after**_ Relighting Skyrim or their changes are nullified by the RS plugin. Loading them after R

[2021-10-01 18:20] MacSplody commented on #2093
It already does that with default sorting by using groups.

![image](https://user-images.githubusercontent.com/1944639/135667902-f6bd6450-2f19-4c77-b7fd-33f65fa2e14f.png)

![image](https://user-images.githubusercontent.com/1944639/135668427-6ed873dc-455c-4d21-8daf-5efb05958457.png)

![image](https://user-images.githubusercontent.com/1944639/135668166-b49fb9e0-4f93-4e2d-85db-ab8aac9ba0c5.png)

![im

[2021-10-01 18:25] TechAngel85 commented on #2093
I noticed I got a list update and it changed. Thanks. I'll close this.

[2021-10-01 18:26] MacSplody commented on #2093
We can update the cleaning data, so I'll leave it open until then.

[2021-10-01 18:46] #2093 closed, assigned to nobody

[2021-10-01 22:11] Sorbe opened #2095 "Sorting performance"
Hello,

The LOOT program is an absolute must-have and most modders run it quite often to get a working modlist
This program is probably the most important application for every modder whenever they change their list
This can mean a great many runs on a daily basis and even more when looked at on an annualized total basis.
For instance, I'm running this about 8-10 times a day on a 900/1350 sized mo

[2021-10-01 22:19] MacSplody commented on #2095
@Sorbe We already an issue open relating to this https://github.com/loot/loot/issues/1370

[2021-10-01 22:24] Sorbe commented on #2095
Closed as a dup.

[2021-10-01 22:24] #2095 closed

[2021-10-02 19:44] Sabre142 opened #2096 "The Real Shady"
Mod name: The Real Shady

Mod version: 1.10

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/31478

Cleaning report:

[code]

Suggested bash tags:

[code]

[2021-10-02 20:27] Sabre142 opened #2097 "Fulcimentum - More Staves and Wands of Skyrim"
Mod name: Fulcimentum - More Staves and Wands of Skyrim

Mod version: 3.5

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/23825

Cleaning report:

[code]

Suggested bash tags:

[code]

[2021-10-02 20:45] Sabre142 opened #2098 "Artifacts of the Court Wizards"
Mod name: Artifacts of the Court Wizards

Mod version: 1.1.0

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/51393

Cleaning report:

[code]

Suggested bash tags:

`Invent.Add`

[2021-10-02 20:57] Sabre142 opened #2099 "Get Both Rewards 1.1"
Mod name: Get Both Rewards 1.1

Mod version: 1.1

Mod link: https://www.afkmods.com/index.php?/files/file/2293-get-both-rewards/

Cleaning report:

[code]

Suggested bash tags:

`Invent.Add`

[2021-10-06 06:49] pragasette opened #2102 "Unique Region Names shouldn't require Regional Save Names"
I expanded on the topic here: https://github.com/loot/skyrimse/commit/22680817e05365e7aa0e6ba1644e023938b542fd#r57571726, the bottom line being URN could be installed on its own without warning, and rather a message should be displayed (if possible) when using RSN without [its requirements](https://www.nexusmods.com/skyrimspecialedition/mods/49698).

[2021-10-06 06:55] sibir-ine commented on #2102
We don't display metadata for individual SKSE plugins, so the message can just be removed.

[2021-10-06 13:14] pragasette commented on #2102
Thanks, closing after f628367.

[2021-10-06 13:14] #2102 closed, assigned to nobody

[2021-10-07 02:40] #2096 closed, assigned to nobody

[2021-10-07 03:13] #2097 closed, assigned to nobody

[2021-10-07 03:23] #2098 closed, assigned to nobody

[2021-10-07 03:27] #2099 closed, assigned to nobody

[2021-10-07 03:27] MacSplody commented on #2099
@Sabre142 Thanks.

[2021-10-07 17:57] pStyl3 opened #2107 "Update SKSE version checks for new 2.0.20 build"
https://skse.silverlock.org/

Current masterlist entry:
[code]
Changelog of the new version:

[2021-10-09 03:25] Layne1124 opened #2108 "Missing Masterlist/Blocking Load of Resource"
I have found other pages talking about this same problem, but I am very inexperienced and I don't understand what anyone is talking about. So if someone could explain ways to try to fix this to me like they are speaking to a 4 year old I would really appreciate it.

[LOOTDebugLog.txt](https://github.com/loot/skyrimse/files/7314910/LOOTDebugLog.txt)

[2021-10-09 11:30] #2107 closed, assigned to nobody

[2021-10-10 01:07] dragonrdr6218 opened #2111 "Animated Eating Redux - Requirement FNIS/Nemesis"
I understand FNIS will not be updated anymore however this mod Animated Eating Redux requires FNIS -

Requirements listed from the mod page:

ConsoleUtilSSE | Optional. Used for TFC hotkey
Fores New Idles in Skyrim SE - FNIS SE |  
SkyUI

This version of LOOT is reporting this is an error that Nemesis is not installed. Mod doesn't need Nemesis. Just thought I would report it to you.

[2021-10-10 01:14] MacSplody commented on #2111
Did you select the FNIS patch during installation?

![image](https://user-images.githubusercontent.com/1944639/136677727-0f1f7470-a283-4860-8708-ac2aaefb60d2.png)

[2021-10-10 01:20] dragonrdr6218 commented on #2111
Not seen this screen before. I’ve had this installed for a long time no issues. I will uninstall and try again but Loot has never reported this error prior.

J. McKinney
Sent from my iPhone

[2021-10-10 01:27] MacSplody commented on #2111
It was only added to the masterlist just over a month ago.
There is some difference in the patch files, and the author must have provided the patch for a reason.
But the author has locked the comments, so there's no way to inquire at the moment.

Edit: Right side is the FNIS patch.

![image](https://user-images.githubusercontent.com/1944639/136677918-ad3b8370-4649-46c4-a34c-39e1811810d5.png)

[2021-10-10 07:31] Sabre142 opened #2112 "Better Candlelight"
Mod name: Better Candlelight

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/4553/

Mod version: 1.0

Cleaning report:

Better Candlelight v1.0
Main
[code]

Better Candlelight v1.0
Unlimited
[code]

Suggested bash tags for both .esps:

`EffectStats`

[2021-10-10 07:57] Sabre142 opened #2113 "Better Hunters"
Mod name: Better Hunters

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/3329/

Mod version: 1.0.1

Cleaning report:

Better Hunters v1.0.1
Main
[code]

Better Hunters v1.0.1
No Hunter Camps
[code]

Better Hunters v1.0.0
Main
[code]

Better Hunters v1.0.0
No Hunter Camps
[code]

Suggested bash tags for all .esps:

[code]

[2021-10-11 12:50] #2112 closed, assigned to nobody

[2021-10-13 05:55] #2113 closed, assigned to nobody

[2021-10-16 15:12] MacSplody opened #2119 "ETaC - Skyrim Bridges load after rule required"
[Expanded Towns and Cities (SSE)](https://www.nexusmods.com/skyrimspecialedition/mods/13552/)
[Skyrim Bridges](https://www.nexusmods.com/skyrimspecialedition/mods/21263/)

![image](https://user-images.githubusercontent.com/1944639/137592241-e9c3b2f4-2618-4a3b-8988-1466e4face25.png)

`ETaC - Complete.esp` and `Skyrim Bridges.esp`

![image](https://user-images.githubusercontent.com/1944639/137592231

[2021-10-16 16:17] #2119 closed, assigned to nobody

[2021-10-16 21:52] #2111 closed, assigned to nobody

[2021-10-17 19:06] IllusiveMan196 opened #2122 "New ITMs"
- [x] [Here There Be Monsters - The Call Of Cthulhu SSE](https://www.nexusmods.com/skyrimspecialedition/mods/35934)
[code]

- [x] ['Here There Be Monsters - Curse of Cipactli](https://www.nexusmods.com/skyrimspecialedition/mods/35933)
[code]

- [x] [SE - Better Cities Patch](https://www.nexusmods.com/skyrimspecialedition/mods/8)
[code]

[2021-10-18 10:36] MacSplody opened #2124 "Expanded Towns and Cities - Better Dynamic Snow Conflicts"
Reported on discord
![image](https://user-images.githubusercontent.com/1944639/137714741-e15dd7f0-c839-40f6-ac09-a813a3b9da66.png)

`Better Dynamic Snow SE.esp` reverts remove of objects.

![image](https://user-images.githubusercontent.com/1944639/137714632-18ede923-fc13-4ffd-a5bc-e2771f5aff70.png)

It's likely that it will also conflict with other location overhauls.
Since BDS is a small file it

[2021-10-18 10:37] #2124 closed, assigned to nobody

[2021-10-18 21:43] #2122 closed, assigned to nobody

[2021-10-18 22:02] IllusiveMan196 commented on #2122
So judging by the cleaning data your version is actually fixed one? And hki11er's is not quite fixed? Interesting... do I still need navmesh fix from the page or no?

[2021-10-18 22:43] MacSplody commented on #2122
The second file NavMesh Fix by ra2phoenix? No don't use that at all with the clean version, it will cause a CTD.

[2021-10-18 22:46] MacSplody commented on #2122
Don't use NavMesh Fix by ra2phoenix all it seems, even with the original file.

![image](https://user-images.githubusercontent.com/1944639/137816586-b8bd2ca3-0f38-42f3-8909-c1b52ca62fad.png)

[2021-10-19 01:30] IllusiveMan196 opened #2128 "ITM report, 5 mods"
- [x] [Undriel_QRR_Clockwork_Patch](https://www.nexusmods.com/skyrimspecialedition/mods/20851) (record 04038A48 in 040142EC cell sub-block 0, 1 0500EED7)
[code]
- [x] [Good-folks of Raven Rock](https://www.nexusmods.com/skyrimspecialedition/mods/27987)
[code]
- [x] [Isle of Artaeum Season 3](https://www.nexusmods.com/skyrimspecialedition/mods/33150)
[code]
- [x] [SDA SDE Patch](https://www.nexusmo

[2021-10-20 17:18] Sabre142 opened #2129 "Serenity - A Silent Moons Camp Overhaul"
Mod name: Serenity - A Silent Moons Camp Overhaul

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/30019

Mod version: 1.2.4

Suggested bash tags for `Serenity.esp`:

[code]

Cleaning report:

[code]

[2021-10-21 13:13] Sabre142 opened #2130 "Unique Skulls HD - SE suggested bash tags"
Mod name: Unique Skulls HD - SE

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/52073

Mod version: 1.1

Suggested bash tags:

[code]

[code]

[2021-10-21 17:47] Sabre142 opened #2131 "Opulent Thieves Guild suggested bash tags"
Mod name: Opulent Thieves Guild

Mod link: https://www.nexusmods.com/skyrimspecialedition/mods/931

Mod version: 2.0.2

Suggested bash tags:

[code]

[2021-10-23 03:38] #2131 closed, assigned to nobody

[2021-10-23 09:19] #2130 closed, assigned to nobody

[2021-10-23 09:24] sibir-ine opened #2134 "Opulent Thieves Guild"
[Opulent Thieves Guild](https://www.nexusmods.com/skyrimspecialedition/mods/931)

- [x] Sort entry alphabetically in section
- [x] Add wild edits message
- Investigate various patches & fixes
  - [x] [Enhanced Lights and FX Patch](https://www.nexusmods.com/skyrimspecialedition/mods/18299) (more up-to-date patch with same name in Opulent Thieves Guild Patch Collection)
  - [x] [Ethereal Elven Overh

[2021-10-29 13:40] MacSplody opened #2142 "Expanded Towns and Cities - load order with Populated Cities Towns Villages"
[Expanded Towns and Cities (SSE)](https://www.nexusmods.com/skyrimspecialedition/mods/13552/)
[Populated Cities Towns Villages SE Edition](https://www.nexusmods.com/skyrimspecialedition/mods/2005/)

Requested on Discord.
![image](https://user-images.githubusercontent.com/1944639/139444976-06cae049-63df-4f23-bd92-091b2bc38081.png)

- [x] Load `ETaC - Complete.esp` after `Populated Cities Towns Vill

[2021-10-29 14:36] #2142 closed, assigned to MacSplody

[2021-11-01 19:46] #2129 closed, assigned to nobody

[2021-11-02 12:56] MacSplody opened #2154 "LUX - Updates"
### [Lux](https://www.nexusmods.com/skyrimspecialedition/mods/43158/)

Reported on Discord
![image](https://user-images.githubusercontent.com/1944639/139850328-27c95cc9-d44e-4ebd-a633-82f54163d838.png)

![image](https://user-images.githubusercontent.com/1944639/140077655-d215db72-e098-48a0-a349-eab26918581d.png)

---

Tags required for patches

- [x] `Lux - Books of Skyrim.esp`
C.Climate
C.ImageSp

[2021-11-03 14:36] MacSplody commented on #2154
`Lux - RWT Patch.esp`

No tags required, possible order issue?

![image](https://user-images.githubusercontent.com/1944639/140080778-243c6157-4b68-4e3f-bba6-118a9ec71b86.png)

[2021-11-03 17:42] MacSplody commented on #2154
`Lux - Books of Skyrim.esp`
C.ImageSpace
C.Light

New cell so not as important, but can be added anyway.
Also needs C.Climate.

![image](https://user-images.githubusercontent.com/1944639/140163099-25452807-7815-454b-9310-db32e32a6876.png)

[2021-11-03 18:21] MacSplody commented on #2154
`Lux - Blue Palace Terrace patch 3.esp`
C.ImageSpace
C.Light
C.SkyLighting

Only C.Light is required.

![image](https://user-images.githubusercontent.com/1944639/140169466-ab6a61a4-8d49-48c6-aecf-2e77c4c81b35.png)

[2021-11-03 18:55] MacSplody commented on #2154
Lux - ClefJ''s Winterhold.esp
C.ImageSpace
C.Light

C.Light and C.Location and possibly C.Name (Translation file conflict) required, but not C.ImageSpace.

![image](https://user-images.githubusercontent.com/1944639/140174654-b0200232-31fc-4f00-9a7a-2c99457a50c5.png)

![image](https://user-images.githubusercontent.com/1944639/140174336-42036184-ecab-4808-a779-61778feff568.png)

[2021-11-04 09:33] #2128 closed, assigned to nobody

[2021-11-05 00:47] #2154 closed, assigned to nobody

[2021-11-10 12:01] Meryl opened #2168 "JK's The Bannered Mare - SPO compatibility patch message"
The following message shows for [JK's The Bannered Mare](https://www.nexusmods.com/skyrimspecialedition/mods/33845) even if you have the relevant patch (from [JK's Interior Patch Collection](https://www.nexusmods.com/skyrimspecialedition/mods/35910)) installed:

The rule for this message seems to be

`active("Skyrim Project Optimization - .*\.esm") and not active("JK's The Bannered Mare SPO Patch.

[2021-11-10 12:15] MacSplody commented on #2168
Yeah, it must have been renamed at some point.
And it used to be on the K's The Bannered Mare mod page.

![image](https://user-images.githubusercontent.com/1944639/141111281-66153ddf-da77-40c5-9c0f-912d0c5b880c.png)

Will have to change the message type and condition.

[2021-11-10 12:55] #2168 closed, assigned to nobody

[2021-11-10 12:56] MacSplody commented on #2168
@Meryl Done, thanks for reporting it.

[2021-11-11 15:36] MacSplody opened #2176 "Anniversary Edition - updates"
New Creation Club files
[Source for names](https://en.uesp.net/wiki/Skyrim:Creation_Club)

Alternative Armors - Daedric Plate `ccbgssse050-ba_daedric.esl`
Alternative Armors - Dragon Plate `ccbgssse059-ba_dragonplate.esl`
Alternative Armors - Dwarven Plate `ccbgssse061-ba_dwarven.esl`
Alternative Armors - Iron `ccbgssse052-ba_iron.esl`
Alternative Armors - Leather `ccbgssse053-ba_leather.esl`
Alte

[2021-11-12 12:56] #2176 closed, assigned to MacSplody

[2021-11-14 05:42] rainmanhhh opened #2187 "why it reports USSEP 4.2.5b require skyrimse 1.6.318.0 or higher?"
nexus says 4.2.5b is for 1.5.97

[2021-11-14 05:59] sibir-ine commented on #2187
What is the version number of USSEP detected by LOOT (the grey number next to the plugin name)?

![image](https://user-images.githubusercontent.com/69141501/141669533-3fb59838-dfc9-4c28-98e7-1a9d40116927.png)

[2021-11-14 06:03] rainmanhhh commented on #2187
4.2.5b

[2021-11-14 06:09] sibir-ine commented on #2187
Huh, I can't reproduce this, & I can't see anything wrong with the message's condition. Can you please restart LOOT, make sure your masterlist is up-to-date, & sort? You don't have to apply the sort.

[2021-11-14 09:12] rainmanhhh commented on #2187
fixed by upgrade to 0.16.1

[2021-11-14 09:12] #2187 closed, assigned to nobody

[2021-11-22 22:05] kemus opened #2198 "Water for ENB "Use only one Water for ENB ESP." error incorrect."
Hey,

Loot complains if you have multiple esps that start with "Water for ENB" -- but Water for ENB has patches available for download, so these errors are incorrect in that case.

Please see the mod author confirming this is incorrect: https://forums.nexusmods.com/index.php?/topic/8797773-water-for-enb/page-206#entry101962448

Mod page:
https://www.nexusmods.com/skyrimspecialedition/mods/37061

I

[2021-11-22 23:25] #2198 closed, assigned to MacSplody

[2021-11-22 23:26] MacSplody commented on #2198
@kemus Should be fixed now, update your masterlist.
Thanks for reporting it.

[2021-11-22 23:59] MacSplody opened #2200 "Group order - Changes may be required"
Keeping notes for possible group changes.
WIP

---

At the moment the order works fine for most cases by default.
But it may be optimal to change the order slightly.

`Lux.esp` (Interior Lighting)
Can now be placed after PCE, Patch included.

`RLO - Interiors.esp` (Interior Lighting)
Should be before PCE, but may have to be placed after for group consistency.

Palaces Castles Enhanced.esp (High Pr

[2021-11-23 17:46] MacSplody opened #2201 "Address Library for SKSE Plugins - Updated"
`versionlib-1-6-317-0.bin`
`versionlib-1-6-318-0.bin`
`versionlib-1-6-323-0.bin`

- [x] Update Address Library requirement message.

[2021-12-05 21:19] TheGameBall opened #2228 "metadata: patch for Relationship Dialogue Overhaul + AI Overhaul incorrect filename"
The actual patch filename does not contain a dash separator (and of course, only one space between the two words). This causes the "you haven't enabled" message to show.

This is incorrect:
        {
            "condition": "active(\"AI Overhaul.esp\") and not active(\"AI Overhaul - Relationship Dialogue Overhaul Patch.esp\")",
            "language": "en",
            "text": "You seem to be usi

[2021-12-05 22:19] sibir-ine commented on #2228
The RDO patch from _AI Overhaul SSE - Official Patch Hub_ is named _AI Overhaul - Relationship Dialogue Overhaul Patch.esp_, which is indeed what the condition for that message currently looks for. Is there another patch available from another page named _AI Overhaul Relationship Dialogue Overhaul Patch.esp_? Or is it an older, no longer available version of the patch or a personal patch? If it's

[2021-12-08 11:13] TheGameBall commented on #2228
Hmmm... I double-checked the RAR file, and it has the dash. I can only assume that somehow I went in there and renamed it myself for no good reason, forgot about it, and then discovered I had to rename it (again, it turns out), or used some weird alternative extraction process (I don't have WinRAR installed). I went and redownloaded, and reinstalled the file, and went looking for other versions on

[2021-12-08 11:13] #2228 closed, assigned to nobody

[2021-12-10 01:11] #2201 closed, assigned to nobody

[2021-12-15 20:13] Vilerox opened #2244 "Project AHO & SkyTEST - Realistic Animals & Predators Patch"
I noticed that the big mud crabs at Project AHO become invisible when SkyTEST is installed. There is already a patch for this on Nexus. However, LOOT does not report that a mod conflict exists and that a patch is available for it.

Maybe someone can add the entry if necessary.

Project AHO: https://www.nexusmods.com/skyrimspecialedition/mods/15996
SkyTEST: https://www.nexusmods.com/skyrimspecialed

[2021-12-15 22:29] IllusiveMan196 opened #2245 "LOOT doesn't recognise navmesh fix-patch for Quaint Raven Rock and Clockwork"
LOOT also doesn't recognise navmesh patch for Quaint Raven Rock and Clockwork being installed.Navmesh fix exists in two versions: standalone for Raven Rock only and merged into compatibility patch for Clockwork.

[Quaint Raven Rock - SE](https://www.nexusmods.com/skyrimspecialedition/mods/20851)
[Clockwork (SSE)](https://www.nexusmods.com/skyrimspecialedition/mods/4155)
[Quaint Raven Rock Navm Cle

[2021-12-16 15:16] #2245 closed, assigned to nobody

[2021-12-16 15:16] IllusiveMan196 commented on #2245
Needed to use both navmesh patch and RavenRock-Clockwork navmesh updated patch.

[2021-12-17 03:06] #2244 closed, assigned to nobody

[2021-12-19 08:20] sibir-ine opened #2254 "FleshFX & WB v310"
[FleshFX](https://www.nexusmods.com/skyrimspecialedition/mods/27456/)

WB v310 will include a small change to the graphics patcher affecting Effect Shader records (see https://github.com/wrye-bash/wrye-bash/commit/6513e3d2297a979778376953cb6a2ec68138a239). It now imports the texture path subrecords that prevented the `Deactivate` tag from being applied to FleshFX so that only its `Graphics` change

[2022-01-08 17:42] bartmoss opened #2276 "Holy Mountains Load Order"
According to the mod page, Holy Mountains should be loaded after Majestic Mountains, even though it no longer depends on it.
I am not confident enough to submit an edit directly, and I don't want to break anything, hence I am opening this issue. Hope this is OK.

Explicit Loadorder statement by author: https://forums.nexusmods.com/index.php?/topic/10589728-holy-mountains-majestic-mountains-addon/p

[2022-01-08 18:45] #2276 closed, assigned to nobody

[2022-01-08 18:45] MacSplody commented on #2276
@bartmoss Done, thanks for reporting it.

[2022-01-17 19:21] cecell opened #2287 "Cleaning data reports"
[code]

[code]

[code]

[code]

[code]

[2022-01-17 21:37] cecell commented on #2287
Added one more pls

[2022-01-17 21:59] cecell commented on #2287
Please ignore this for a bit.  I'll post again once I'm done adding stuff, sorry

[2022-01-18 22:47] cecell commented on #2287
OK all done sorry y'all and thanks for all you do

[2022-01-20 09:14] UUFrost1 opened #2293 "Wearable Lanterns & Wearable Lanterns MCM Fix"
This isn't a bug, so much as an evolution.

After downloading Chesko's [Wearable Lanterns mod](https://www.nexusmods.com/skyrimspecialedition/mods/7560), LOOT recommends that you also use [Wearable Lanterns MCM Fix](https://www.nexusmods.com/skyrimspecialedition/mods/25372). This fix is out of date and reports indicate that it no longer works. The fix that works is [Chesko's Wearable Lanterns - SE

[2022-01-20 12:11] sibir-ine commented on #2293
Thanks for the report! Just a few notes for updating the mod's entry in the masterlist:
* `patchUpdateAvailable` would be more appropriate than `alsoUseX`.
* The loose, patched `scripts/_wl_compatibility.pex` file will have to be used to tell if SE & VR Patch is installed or not, preferably by checksum (unpatched: `7DA73A58`, patched: `02E2CA8E`) in case users unpack the WL BSAs.
* SE & VR Patch i

[2022-01-22 02:52] cecell opened #2297 "Load `AnotherOakwood.esp` after `ogFalkreathHauntings.esp`"
[code]

[The Falkreath Hauntings](https://www.nexusmods.com/skyrimspecialedition/mods/20733)

[2022-01-22 21:02] cecell opened #2299 "Add cleaning data for BardsRebornStudentofSong.esp"
[code]

[2022-01-23 00:37] #2299 closed, assigned to nobody

[2022-01-23 09:29] sibir-ine commented on #2297
Can you please provide some details as to why `AnotherOakwood.esp` should load after `ogFalkreathHauntings.esp`? Especially if either of the authors have made any comments on load order for the two mods.

[2022-01-23 15:06] cecell commented on #2297
`NAVM [NAVM:000F0667] (in GRUP Cell Temporary Children of [CELL:00009BB8] (in Tamriel "Skyrim" [WRLD:0000003C] at -6,-16))` where a door is added by `AnotherOakwood.esp` and thus isn't accessible by an NPC.  That is the only conflicting record between the two mods and sorting it that way solved the conflict.  I went ahead and created a patch though as it seems as though you are resistant to applyi

[2022-01-23 22:08] sibir-ine commented on #2297
I'm not resistant, I just wanted to know what the load after was for. That sounds like a good enough reason to me.

[2022-01-24 22:41] #2293 closed, assigned to nobody

[2022-01-24 22:43] sibir-ine commented on #2293
@UUFrost1 Thanks for the report! I've updated the masterlist to reflect my findings above. Please let us know if you have further questions or concerns.

[2022-01-27 11:10] #2297 closed, assigned to nobody

[2022-01-27 11:11] sibir-ine commented on #2297
@cecell Thanks for the report!

[2022-01-27 11:54] cecell commented on #2287
Pls see
https://github.com/loot/skyrimse/pull/2306
oh, that's what that comment already was, sorry for the redundancy

[2022-01-31 08:57] #2287 closed, assigned to nobody

[2022-02-04 07:37] Josniff3021 opened #2310 "Loot issue"
I've downloaded loot a half dozen times by now and saved it in different places, regardless of which place I pick, mods don't show up when I launch the loot app seperate of mod organizer 2, and when I do launch loot through mod organizer 2 all I get is a white screen. I've restarted the pc, Uninstalled the mods/loot/game and regardless of what I do, I'm still getting a white screen. Any help would

[2022-02-06 16:26] cecell opened #2315 "patch3rdParty_SRPC & patch3rdParty_SRPC_Redux"
@sibir-ine, you had helped setup the 'interfunctionality' between the patch3rdParty_SRPC & patch3rdParty_SRPC_Redux anchors.  For the items that still have patch3rdParty_SRPC message (and the redux anchor) I'm still getting that message even even though I have patch3rdParty_SRPC_Redux installed.  How can we fix this?

[2022-02-06 16:29] cecell commented on #2315
Correction, they don't have the Redux message but they are supported. Can we add an and not active condition for the patches added by Redux? EDIT: I'll add the condition but sibir had made a judgment call when the new anchor was added to only include the non _Redux version because of a comment somewhere that the older was preferred

[2022-02-07 08:00] sibir-ine commented on #2315
Both `patch3rdParty_SRPC` & `patch3rdParty_SRPC_Redux` recommend & are hidden by an active Redux patch, but `patch3rdParty_SRPC` is also hidden by an active original patch for users who prefer it for whatever reason. `patch3rdParty_SRPC` should only be applied to mods patched by both the original & Redux, &, `patch3rdParty_SRPC_Redux`, to mods only patched by Redux.

Which plugins do you feel have

[2022-02-09 17:19] cecell commented on #2315
I have the Redux version active yet the following files are showing the message "You seem to be using Spell Research v2.2+, but you have not enabled a compatibility patch..."
iHarvest.esl
cutting room floor.esp
elemental destruction.esp
caranthirtowerreborn.esp
shadowspellpackage.esp
forgottenmagic_redone.esp
mining for mages redux.esp
complete alchemy & cooking overhaul.esp
apocalypse - magic of

[2022-02-10 02:30] sibir-ine commented on #2315
I've tested each plugin, & I can't replicate this. For the Redux patch, the message condition looks for the name of the patch as downloaded from its page, i.e., `Spell Research - Even More Patches.esp`. It also checks to make sure it's active. Can you please double-check that you haven't changed the name of the patch or deactivated it? Can you please also press the Update Masterlist button to make

[2022-02-10 19:52] cecell commented on #2315
Neither can I.  I've apparently updated my master list now without realizing that I did because the problem isn't showing anymore.  (sigh) Thank you for your help and I apologize for wasting time

[2022-02-10 19:52] #2315 closed, assigned to nobody

[2022-02-10 21:19] sibir-ine commented on #2315
No worries!

[2022-02-15 04:31] ra2phoenix opened #2320 "Lux Via"
https://www.nexusmods.com/skyrimspecialedition/mods/63588

Lux Via.esp and Lux Via - plugin.esp should be after 'default' somewhere to win basic conflicts and maintain consistency in its overhauling of roads, but before cell setting edits, perhaps in High Priority Overrides.

[2022-02-15 04:34] ra2phoenix opened #2321 "Lux Orbis"
https://www.nexusmods.com/skyrimspecialedition/mods/56095

Lux Orbis.esp and Lux Orbis - Resources.esm should go in the Lighting Enhancers group.

[2022-02-18 02:53] SkyLover264 opened #2330 "Thane of Whiterun and Thane of Riften mods by Endoroc"
LOOT appears to be placing Endoroc's Riften thane mod after his Whiterun thane mod in load order sorting, but Endoroc has stated that the Whiterun mod needs to be loaded last.

[2022-02-18 03:01] sibir-ine commented on #2330
Can you please provide links to all the mods involved?

[2022-02-18 12:39] SkyLover264 commented on #2330
[Thane of Riften Requires Favors](https://www.nexusmods.com/skyrimspecialedition/mods/61205)
[Thane of Whiterun Requires Favors](https://www.nexusmods.com/skyrimspecialedition/mods/61206)

[2022-02-20 09:33] #2330 closed, assigned to nobody

[2022-02-20 09:33] sibir-ine commented on #2330
@SkyLover264, thanks for the report, added.

[2022-02-21 11:17] GunthorNC opened #2335 "Flat World Map Framework"
One bit of manual sorting I had to do was for

[Flat World Map Framework](https://www.nexusmods.com/skyrimspecialedition/mods/29932)

It would not display at all unless I manually moved
FWMF SE Marked Old Map 4k.esp
FWMF SE Marked Old Map 4k NAT fix.esp
FWMF SE Marked Old Map 4k Vivid Weathers Fix.esp

to the very bottom of my load order. I dunno what the proper placement of them is, but moving th

[2022-03-15 23:36] Glanzer-modder opened #2354 "No message telling user sort order didn't change"
Version 0.18.1 provides no informative message to the user when sorting made no changes to the sort order. It just ends and brings you back to the interface.

[2022-03-16 03:19] Glanzer-modder opened #2355 "Misspelling in patch list for 'Lanterns Of Skyrim II.esm'"
In the entry for 'Lanterns Of Skyrim II.esm,' the word "Sinkhole" is misspelled as "Skinkhole" in the condition line and it causes a notification to appear telling users they don't have the patch even when they do have the patch:

[code]

[2022-03-16 04:26] #2355 closed, assigned to nobody

[2022-03-16 04:26] sibir-ine commented on #2355
@Glanzer-modder, thanks for the report! It should be fixed now, please update your masterlist.

[2022-03-22 16:29] GunthorNC opened #2361 "Dungeons Revisited - Conflicts with ELFX Enhancers"
https://www.nexusmods.com/skyrimspecialedition/mods/51798?tab=posts

Found this while browsing.

"Be advised

if you have huge holes that peaks into the void, make sure to load this mod after ELFX since LOOT wont sort it properly, and that mean you have to do it every time you run loot again."

4th stickied post down.

This also applies to

https://forums.nexusmods.com/index.php?showtopic=11124618

[2022-03-30 03:00] ghyujkilop opened #2365 "xEdit Error: "Cutting Room Floor.esp" has a lower load order than "Relationship Dialogue Overhaul.esp""
I only get two errors from xEdit. This is one of them, the other is: ModGroup "Guard Dialogue Overhaul" is invalid:

Full log looks like:

[01:03] ModGroup "Guard Dialogue Overhaul" is invalid:
[01:03]  - Error: "Cutting Room Floor.esp" has a lower load order than "Relationship Dialogue Overhaul.esp"

Can you add something so that this is resolved?

[2022-03-30 05:36] sibir-ine commented on #2365
The error is just saying that the mod group can't be used because your current load order doesn't match its load order. A mod group just hides conflicts in xEdit, so it's not something to worry about unless you actually want to use it (nor is it an issue with LOOT, for that matter).

As to whether we should enforce that order, IIRC, _Cutting Room Floor_ does get sorted after _Relationship Dialogue

[2022-04-03 03:45] KhrysINXS opened #2367 "Mods Editing Vanilla Homes and ELFX "No Homes" Modules Load Order Matter"
Eli_Breezehome.esp https://www.nexusmods.com/skyrimspecialedition/mods/48931
needs to load after:
ELFX - NoBreezehome.esp
ELFX - NoPlayerHomes.esp
possibly the others too that are not meant to touch anything in the WhiterunBreezehome Cell (didn't check) from:
Enhanced Lights and FX https://www.nexusmods.com/skyrimspecialedition/mods/2424

WHATS HAPPENING
Even though they are defined as "NO Home" n

[2022-04-15 20:58] Sabre142 commented on #2134
[Ethereal Elven Overhaul patch](https://www.nexusmods.com/skyrimspecialedition/mods/7351/) has been set to hidden.

Hidden at 03 Mar 2022, 10:30PM by [AngelTrump](https://www.nexusmods.com/users/39775535).

[2022-04-16 05:52] sibir-ine commented on #2134
Closed by #2376.

[2022-04-16 05:52] #2134 closed, assigned to nobody

[2022-04-16 08:58] sibir-ine commented on #2365
I'll move the issue of load order & groups for the mods concerned to #2200 so it can be part of the larger project of overhauling our groups for SSE. The xEdit mod group issue doesn't pertain to LOOT, nor is it a concern in general, so I'll close this issue.

[2022-04-16 08:58] #2365 closed, assigned to nobody

[2022-04-16 08:58] sibir-ine commented on #2200
IIRC, _Cutting Room Floor_ does get sorted after _Relationship Dialogue Overhaul_ by default unless you have _Immersive Citizens_ installed. _ICAIO_ is in the **Core Mods** group (which loads after the default group) & _RDO_ is set to load after it on the advice of both authors (_RDO_ incorporates _ICAIO_ changes in overlapping records), so _ICAIO_ will essentially hoist _RDO_ later in your load o

[2022-04-26 08:35] Nesbit098 opened #2385 "THE PEOPLE OF SKYRIM COMPLETE FALSKAAR PATCH"
Hi Loot Team,
an update for you re a three-way patch. As always appreciate your efforts and time.

https://www.nexusmods.com/skyrimspecialedition/mods/13906?tab=description

V10.7.2 for the combo patch for alt start TPOSC and Falskaar.

Please note if you use the integrated patch you will get this LOOT warning until they update their system as the Loot program only recognizes the individual patche

[2022-04-27 05:20] #2385 closed, assigned to nobody

[2022-04-27 05:21] sibir-ine commented on #2385
Done, thanks for the report!

[2022-04-28 06:41] Sir1Twist opened #2389 "My mods are listed, but not active in Loot."
Actually I have more than one issue with Loot. But it all ties to Skyrim Special Edition/Anniversary Edition. And the issue only started when I updated to Loot 0.1.8 The issues are that while I do have SkyUI for SE installed, Loot insists I need it for other plugins, such as XPMSE, Skyrim Unbound, and a few others. Then a second issue, which maybe related to the first issue, is that Loot is now sa

[2022-04-28 06:54] Sir1Twist commented on #2389
Okay, I fixed my problem. I had, I think, old data, and the newer versions of Loot read these, and, basically, thought the plugins weren't installed.

[2022-04-28 06:55] #2389 closed

[2022-05-09 03:07] ixanza opened #2400 "Change USSEP's LOOT Message to check BSA CRC instead of EXE"
![image](https://user-images.githubusercontent.com/5535758/167333561-6eb613c5-587a-40e9-ba10-757691a358a2.png)

This isn't an accurate error message due to the existance of the Best of Both Worlds Downgrade Patcher which downgrades the EXE to 1.5.97 while keeping all the ESMs and BSA's updated. The Skyrim Reverse Engineers have pretty much concluded that there is no new functionality in the 1.6 EX

[2022-05-09 07:15] pStyl3 commented on #2400
Let's first have a look at the situation as of right now. This is the current implementation of the above message.

prelude.yaml
[code]
masterlist.yaml
[code]
The `readable()` check was recently introduced & added here, so that in case the user is modding the Microsoft Store / Game Pass version of the game, the condition is short-circuited and evaluates to false. The reasoning behind that can be f

[2022-05-09 14:25] halgari commented on #2400
Thanks for the ping, and yes, there are bits of the 1.6 interface that break when used with the 1.5 EXE. However most modders override these offending files with [Clean Start Menu](https://www.nexusmods.com/skyrimspecialedition/mods/3223) or other such UI enhancers, so they never notice the broken file.

More importantly though, I'd argue that all these warnings should remain in place because SKSE

[2022-05-09 14:27] ixanza commented on #2400
These are fair points. Thanks for opening my understanding

[2022-05-11 20:50] pStyl3 commented on #2400
Thanks for the reply, in this case I'll close the issue.

From my perspective do the `conditions` work quite well in their current form, and it's only (in this context) if the user intentionally changes the version of the game's .exe that they become `true` and show the message. Once the above linked & requested feature to be able to hide individual messages in LOOT get's implemented, the user sho

[2022-05-11 20:50] #2400 closed, assigned to nobody

[2022-05-12 05:44] bradcrabtree opened #2401 "Better Vampire NPC's and NPC Replacer mods are not sorted properly"
I have a number of NPC Replacers like BBs Lasses of Skyrim Redux that I had loaded after the 2.0 version of Better Vampire NPC's.esp, the no appearance changes (NAC) version of the mod and after I ran LOOT, all the vampires are vanilla looking and they looked nice before LOOT. Loot incorrectly places the Better Vampires NAC 2.0 below that mod and for some reason, undoes the NPC changes despite me

[2022-05-18 20:19] MacSplody commented on #2401
@bradcrabtree Can you give provide links to the mods?
Also a list of expected plugin order verses how LOOT is sorting them would be useful.

[2022-05-18 20:44] MacSplody commented on #2367
I used to have ELFX in an earlier group for this reason.
But I moved it up due some people preferring to put the ELFX weather module before the main ELFX module.
The ELFX weather module may also need to be sorted after the ELFX Enhancer/Hardcore module, at least according to [ELFX Weathers - No Eye-Adaptation - Less Bloom Blur - More Contrast - FPS Fix](https://www.nexusmods.com/skyrimspecialediti

[2022-05-18 20:49] MacSplody commented on #2361
I'm going to assume it's the lighting enhancers causing the problem, the main ELFX module should be sorting before most files.
It will need some testing and reviews in xEdit.

[2022-05-18 20:55] MacSplody commented on #2335
Other paper map mods are being placed in the Worldspace Settings group, so it should be fine there as well.
Even with that grouping or placing it last for that matter, it may still require patching with other mod changing the Worldspace records. Things like map markers, lighting overhauls, water mods, paper maps will modify Worldspace records.

I'm also reviewing the groups in #2200
It might be be

[2022-05-18 21:00] MacSplody commented on #1324
From Discord

![image](https://user-images.githubusercontent.com/1944639/169154626-428f49ee-9085-4c12-85b4-06c5bb049c79.png)

[2022-05-18 22:10] bradcrabtree commented on #2401
Better Vampire NPC's NAC version. It's being placed after both ModApocalpyse NPCs and then after BB's Lasses of Skyrim. Rest of my cosmetic mods are sorted properly.

Mod links:
https://www.nexusmods.com/skyrimspecialedition/mods/9510
https://www.nexusmods.com/skyrimspecialedition/mods/64872

I like the logic of LOOT for individual ESL NPC Replacer mods... so far these individual NPC replacer plug

[2022-05-19 00:20] bradcrabtree commented on #2401
Also, Lydia Private Version is being sorted by LOOT before Bijin AIO and Coldsun's Creations Definitive Edition Packs. Individual replacers always need to be sorted below multiple replacers. 
https://www.nexusmods.com/skyrimspecialedition/mods/20318

[2022-05-19 03:54] bradcrabtree commented on #2401
Also, TKAA Renewal is being sorted by LOOT above the Dark Brotherhood Reborn SR - USSEP Patch. I looked at them in xEdit and TKAA can safely be loaded after where it should be loaded.
https://www.nexusmods.com/skyrimspecialedition/mods/34909

DizzyXC

[2022-05-24 01:57] #1324 closed, assigned to nobody

[2022-05-28 08:30] KhrysINXS commented on #2367
OK. I completely get this. How about another approach that wont have such a universal chain reaction of events.
Instead of the focus altering ELFX at all, how's about altering the:
Eli_Breezehome.esp https://www.nexusmods.com/skyrimspecialedition/mods/48931
to work in light for this attached photo taken from the MISC. "IN THE EVENT OF" GENERAL section of the
Eli Opt. Pkg's & Patches Page https://i

[2022-06-01 17:40] RyanLangston opened #2406 "FWMF should load towards the end"
It should load towards the end, and it must load after dyndolod, I would do it myself, but I'm an idiot

[2022-06-01 17:53] sibir-ine commented on #2406
Duplicate of #2335

[2022-06-01 17:53] #2406 closed, assigned to nobody

[2022-06-02 00:21] #2335 closed, assigned to nobody

[2022-06-03 01:58] MacSplody opened #2414 "Unofficial Creation Club Updates - Outdated"
[Unofficial Creation Club Updates](https://www.nexusmods.com/skyrimspecialedition/mods/12951/)

No longer supported by mod author.

![image](https://user-images.githubusercontent.com/1944639/171771864-fe853b5d-3d8d-4b22-83f5-bd8c3a609c6f.png)

Could add a message that the files are out of date and also direct users to use [Unofficial Skyrim Creation Club Content Patch](https://www.nexusmods.com/sk

[2022-06-03 02:54] MacSplody commented on #2361
Seems to be sorting correctly, it might a case of a user grouping ELFX or adding a rule that's affecting it.

![image](https://user-images.githubusercontent.com/1944639/171777408-6bce32ae-7809-4492-9b71-8d562b6c79fc.png)

[2022-06-03 03:17] MacSplody commented on #2361
Okay so it's the enhancer plugins that are overwriting it.

![image](https://user-images.githubusercontent.com/1944639/171779261-adc7397c-d8ae-4c21-bf83-51c084197aab.png)

[2022-06-05 21:27] MacSplody commented on #2321
From [Lux Via](https://www.nexusmods.com/skyrimspecialedition/mods/63588/) description.

![image](https://user-images.githubusercontent.com/1944639/172071127-5242fbd9-a6db-4d6f-a623-433531f41d03.png)

![image](https://user-images.githubusercontent.com/1944639/172071254-2ec1235a-2167-4d3c-8a6f-ad570ae5738c.png)

LOOT places `Lux Via - plugin.esp` after `Lux Orbis.esp` with default sorting.

[2022-06-06 01:37] MacSplody commented on #2367
Closing and will review further changes as part of https://github.com/loot/skyrimse/issues/2200.

[2022-06-06 01:37] #2367 closed, assigned to nobody

[2022-06-18 18:41] SkyLover264 opened #2427 "Dawnguard - Tweaks and Enhancements"
The esp file for [Dawnguard - Tweaks and Enhancements](https://www.nexusmods.com/skyrimspecialedition/mods/53364) has been renamed from "Dawnguard - Radiant Quest Requirements.esp" to "Dawnguard - Tweaks and Enhancements.esp" as of version 0.2. It has also been relocated to the above-linked page. Also, in case it affects any compatibility notes, the feature where you could request Serana not raise

[2022-06-19 08:02] #2427 closed, assigned to nobody

[2022-06-19 08:02] sibir-ine commented on #2427
Thanks for the report!

[2022-07-12 21:49] iSupremacy opened #2486 "Water for ENB (+ patches) should be prior to Lux (+ patches)"
I heard I could suggest load order rules here? Sorry if wrong place

LOOT tends to put Water for ENB patches after Lux.

Examples. (from W4E FOMOD and Cities of the North Patch Collection FOMOD)
Water for ENB (Shades of Skyrim).esp
Water for ENB - Patch - Landscape Fixes for Grass Mods.esp
COTN Falkreath - Water for ENB Patch.esp
Water for ENB - Patch - Clear Interior Water.esp
Water for ENB - Pat

[2022-07-13 05:55] sibir-ine commented on #2486
They sort that way because Lux is in the **Interior Lighting** group while Water for ENB is in the **Late Loaders** group, where **Late Loaders** loads after **Interior Lighting**. Patches that are dependent on either mod will generally follow that order as a result. From the looks of it, they'll conflict whichever way you sort them, so they'll still require a patch & there isn't exactly a correct

[2022-07-13 06:19] #2486 closed, assigned to nobody

[2022-07-24 19:37] #2414 closed, assigned to nobody

[2022-07-27 09:04] #2254 closed, assigned to nobody

[2022-07-28 06:32] suamor opened #2500 "JK's Skyrim compatibility patches with THC Dawnstar / Winterhold not recognized"
Installed: [JK's Sykrim](https://www.nexusmods.com/skyrimspecialedition/mods/6289)
Installed: [The Great City of Dawnstar](https://www.nexusmods.com/skyrimspecialedition/mods/19491)
Installed: [The Great City of Winterhold](https://www.nexusmods.com/skyrimspecialedition/mods/17127)
Installed: [The great Cities of JK's North](https://www.nexusmods.com/skyrimspecialedition/mods/33687)
Also installed

[2022-07-28 06:49] suamor opened #2501 "Load order for The Great Cities of JK's North - Patch"
See #2500 for the list of TGC / COTN / JK's Skyrim + Patches mods (and links).
In addition I have installed [COTN - Dawnstar](https://www.nexusmods.com/skyrimspecialedition/mods/28952) and [COTN - Winterhold](https://www.nexusmods.com/skyrimspecialedition/mods/40088).
After sorting load order I have compatibility problems in game (in both cities).
I found that the load order is not correct.
Descri

[2022-07-28 06:56] suamor opened #2502 "OCW Obscure College of Winterhold: False warning"
Installed: [OCW Obscure College of Winterhold](https://www.nexusmods.com/skyrimspecialedition/mods/20514)
Installed: [TGC Winterhold](https://www.nexusmods.com/skyrimspecialedition/mods/17127)
Loot complains about missing compatibility patch.
But the patch is installed: OCW_TGCs_FEPatch.esp.
There are two compatibility patches (it is stated in the installer that only one of those patches are to be

[2022-07-28 07:10] MacSplody commented on #2502
[code]

`OCW_TGCs_FEPatch.esp` is for `The Great Cities - Minor Cities and Towns.esp`.
`OCW_TGCoW_FEPatch.esp` is for `The Great City of Winterhold.esp`.

Don't select both options in the installer, as it will only install the Minor Cities and Towns patch.

[2022-07-28 07:18] MacSplody commented on #2501
Can you supply your load order that LOOT is producing?

![image](https://user-images.githubusercontent.com/1944639/181444737-c7db8c02-9c59-4455-baa4-35dfc906f728.png)

[2022-07-28 07:29] MacSplody commented on #2500
[code]

Right those would need to be updated to check for the patches.

[2022-08-06 18:16] bartmoss opened #2510 "RAID weathers should load after Wet & Cold"
Hi there,

According to RAID weathers, that mod should load **after** Wet & Cold. LOOT does not currently sort the mods correctly. (I just tested it, with current LOOT and masterlist.)

Source: https://www.nexusmods.com/skyrimspecialedition/mods/63116 under "Compatibility"

ESP name Raid Weathers: "RAID Weathers.esp"
ESP name Wet & Cold: "WetandCold.esp"

(Without quotes, obviously.)

[2022-08-07 02:12] #2510 closed, assigned to nobody

[2022-08-07 02:12] sibir-ine commented on #2510
Thanks for the report!

[2022-08-07 22:34] Pickysaurus opened #2512 "Faster Vanilla Start"
Please add [my mod](https://www.nexusmods.com/skyrimspecialedition/mods/72890) as incompatible with [Alternate Start: Live Another Life](https://www.nexusmods.com/skyrimspecialedition/mods/272).

Technically they don't conflict but it's a case of whichever loads last will be the one the game uses.

(My mod changes a global to 3 or 4, AS:LAL change it to 5).

[2022-08-08 02:05] #2512 closed, assigned to nobody

[2022-08-08 02:05] sibir-ine commented on #2512
Thanks for the report!

[2022-08-08 02:39] sibir-ine commented on #2502
The patches also each have their corresponding TGC plugin as a master, so you'll get the appropriate error when the patch is active without all of its masters. Therefore, this issue can be closed as invalid since LOOT already handles the situation appropriately.

[2022-08-08 02:39] #2502 closed, assigned to nobody

[2022-08-16 21:04] suamor commented on #2500
Ok, the issue was that 'The Great Cities - Minor Cities and Towns' is a merger of all these mods (and more, see mod description).
So the warning is somewhat correct about unecessary plugin, but not because of JKs Skyrim but because it is already installed (via merger), so it can be safely removed.

[2022-08-16 21:04] #2500 closed, assigned to nobody

[2022-08-17 06:42] sibir-ine commented on #2500
I added messages for the mods included in TGC - Minor Cities & Towns in #2520, so that should help avoid confusion in the future.

[2022-08-17 08:26] sibir-ine commented on #2501
For the Great Cities of JK's North, you need CotN Falkreath & Morthal as well. There's an old, unsupported version without CotN Falkreath & Winterhold, but no version without CotN Morthal. If `The Great Cities of JK's North - Patch.esp` is actually active in your load order & no required plugins are missing, LOOT will follow the recommended load order. An exception is for CotN Falkreath as that ap

[2022-08-17 13:20] #2501 closed, assigned to nobody

[2022-08-29 15:28] ChristopherC71 opened #2528 "Even Better Quest Objectives v1.9.x"
Hello, I have the latest LOOT v0.18.4 and Loot is not seeing a patch for 'BetterQuestObjectives - Thieves Guild For Good Guys Patch.esp'.

It is active in my load order and is getting flagged.

[Even Better Quest Objectives SE - EBQO SE](https://www.nexusmods.com/skyrimspecialedition/mods/159/)

[2022-08-29 15:50] MacSplody commented on #2528
Patch name was changed from
`EvenBetterQuestObjectives - Thieves Guild For Good Guys Patch.esp`
to
`BetterQuestObjectives - Thieves Guild For Good Guys Patch.esp`

Just ignore the message for now until the msterlist is updated.

[2022-08-29 17:24] suamor opened #2529 "Incompatibility ? Cyclic interaction error"
Neither me nor mod author does understand the following cyclic interaction reported from Loot:

There is a cyclic interaction between
RealisticWaterTwo.esp and the SDA NFF Patch. I use latest version (5.4.1 / 1.5) of both mods.

RealisticWaterTwo.esp (https://www.nexusmods.com/skyrimspecialedition/mods/2182)
[Master]
JKs Skyrim_RWT_Patch.esp (https://www.nexusmods.com/skyrimspecialedition/mods/628

[2022-08-29 17:39] MacSplody commented on #2529
You've put nwsFollowerFramework into the late loaders group.
If `RealisticWaterTwo.esp` and `nwsFollowerFramework.esp` share the same group, then you will need to set one to load after the other.

[2022-08-30 04:34] #2528 closed, assigned to nobody

[2022-08-30 04:34] sibir-ine commented on #2528
Thanks for the report!

[2022-08-30 10:11] #2529 closed, assigned to nobody

[2022-09-04 07:59] sibir-ine commented on #2401
@bradcrabtree, you didn't link to _Bijin AIO_, _ColdSun's Creations - Definitive Edition_, or _TKAA Renewal_. I'm assuming _Bijin AIO_ is found [here](https://www.nexusmods.com/skyrimspecialedition/mods/1825), _TKAA Renewal_ is [here](https://www.nexusmods.com/skyrimspecialedition/mods/48297), & _ColdSun's Creations - Definitive Edition_ was [here](https://www.nexusmods.com/skyrimspecialedition/mo

[2022-09-04 09:47] sibir-ine commented on #2401
Re _Better Vampire NPCs_ & _BB's Lasses of Skyrim Redux_, there is no correct load order. Even though you're using the version of BVNPC without appearance changes, the mods both need to make edits to the records for some vampire NPCs, so loading one after the other will override the changes made by the other. You'd need to patch them (or see if someone already made a patch) to resolve those confli

[2022-09-04 10:14] sibir-ine commented on #2361
There appears to be a patch for the hardcore enhancer [here](https://www.nexusmods.com/skyrimspecialedition/mods/59610), I'll take a look at it.

[2022-09-04 11:20] #2361 closed, assigned to nobody

[2022-09-04 11:21] sibir-ine commented on #2361
Thanks for the report!

[2022-09-04 13:44] MacSplody commented on #2401
There's also [EasyNPC](https://www.nexusmods.com/skyrimspecialedition/mods/52313/), which can be used to patch NPC appearance overhauls in your load order.

[2022-09-04 15:33] Ember2528 opened #2538 "Comprehensive Falskaar Fixes"
A newer bugfix patch for Falskaar that replaces the Falskaar - Bug Fixes.esp from Falskaar - Addons and patches patches got released a while ago and should be recommended over the patch from Addons and patches

https://www.nexusmods.com/skyrimspecialedition/mods/62819

[2022-09-04 22:08] #2538 closed, assigned to sibir-ine

[2022-09-04 22:09] sibir-ine commented on #2538
@Ember2528, thanks for the report!

[2022-09-05 00:44] Ember2528 opened #2542 "Heavy Armory CCOR Patch Information Outdated"
If you are using CCOR and Heavy Armory LOOT will tell you to get the CCOR patch from the kryptopyr Patch Hub despite the CCOR patches now being bundled with Heavy Armory

[2022-09-05 02:05] Ember2528 opened #2543 "Holds The City Overhaul"
Holds is meant to be placed near the end of the load order, mostly to avoid issues from landscape conflicts, right above mods like A Clear Map of Skyrim or lighting mods like Lux or Enhanced Lighting and FX. LOOT always places it near the top of the load order.

https://www.nexusmods.com/skyrimspecialedition/mods/10609

[2022-09-05 02:48] #2542 closed, assigned to sibir-ine

[2022-09-05 02:49] sibir-ine commented on #2542
@Ember2528, thanks for the report!

[2022-09-05 03:34] sibir-ine commented on #2543
I'm not particularly familiar with landscape conflicts, but it seems like loading it late would at best just overwrite landscape changes made by other mods. I think a better solution may be to add load rules for specific plugins that Holds should load after without needing a patch. Plugins where conflicts are more severe can be noted as incompatible. If you're aware of any such cases, please feel

[2022-09-05 04:32] Ember2528 commented on #2543
Galandil made the mod with it being late in the load order in mind in order to reduce the amount of mods that would need patches so things like grass mods that make landscape edits would just be covered up by buildings added by Holds while if Holds was loaded earlier some buildings might be half covered by landscape.

That said, Landscape Fixes for Grass Mods is the only one I'm aware of that caus

[2022-09-05 12:12] MacSplody commented on #2543
If you wanted to test loading the AIO version after most files then you can add a group after default.
![image](https://user-images.githubusercontent.com/1944639/188441190-c4c5d4e5-aa86-4e10-8d1e-d53f6be9ab07.png)

You could do the same for the modular version, but you'd have to use multiple groups or one group with a set order.

Is it not sorting Holds after Landscape fixes by default?

Edit:
Def

[2022-09-05 13:33] MacSplody commented on #2543
There's an updated version available on [Holds Special Edition Compatibility Patches](https://www.nexusmods.com/skyrimspecialedition/mods/20685/).

[2022-09-05 13:48] MacSplody commented on #2543
From Landscape Fixes - Holds patch installer.

[2022-09-05 14:10] MacSplody commented on #2543
Even with the patch, Landscape fixes still needs to be placed before Holds.

![image](https://user-images.githubusercontent.com/1944639/188468301-15589002-c61d-4f31-b7f4-7f14a68c0f77.png)

[2022-09-05 14:21] MacSplody commented on #2543
Both the original and updates have the same version info in their file header.
And the update has one ITM, so its checksum isn't reliable.
The update does include the `HoldsComplete_DISTR.ini` file for [Spell Perk Item Distributor (SPID)](https://www.nexusmods.com/skyrimspecialedition/mods/36869/).
That could be used for an update patch message and requirement checks.

[2022-09-05 14:45] MacSplody commented on #2543
Could be intentional, but would cause issues with any other mods that alter the size of these worldspaces.

![image](https://user-images.githubusercontent.com/1944639/188473935-b8028e6c-5794-4972-9942-929bee82bed5.png)

Possibly placed there by mistake, the extra empty cells shouldn't be required.
![image](https://user-images.githubusercontent.com/1944639/188474001-870709ae-2534-4b91-8e83-1c92b291

[2022-09-05 16:59] Ember2528 commented on #2543
Alright. The new order seams to not have buried buildings anymore, at least running around the areas I knew had problems before. I'll close this and if I find any other problems report it to the authors or here if I find another mod.

[2022-09-05 17:05] MacSplody commented on #2543
It can be left open for now, there are still some updates that I want to make in relation to this issue.

[2022-09-05 17:25] Ember2528 opened #2546 "Vokrus incorrect master sorting"
Vokrus is an addon for Vokrii that adds a handful of Ordinator perks to the trees and ships with an esp replacer for Ordinator. It needs Ordinator loaded before Vokrii otherwise it will have a variety of issues and currently LOOT places Ordinator before Vokrii

https://www.nexusmods.com/skyrimspecialedition/mods/63384

[2022-09-05 17:44] MacSplody commented on #2546
We have logic for some similar mods already, so we just need to update the load after rules.

Also need to add:
Incompatible with
[Vokriinator - Choice Cuts](https://www.nexusmods.com/skyrimspecialedition/mods/26702/)
[Path to Ordinance](https://www.nexusmods.com/skyrimspecialedition/mods/37296/)

[2022-09-05 19:43] #2546 closed, assigned to nobody

[2022-09-18 01:41] zyf2008Neptune opened #2559 "B&B126 and Radiant Prostitution are not sorted properly"
b&b126 https://arca.live/b/tullius/4930700
Radiant Prostitution https://www.loverslab.com/files/file/17325-radiant-prostitution-gigolo-se/

B&B 126 changes Hulda in whiterun ,  but loot sorts it before Radiant Prostitution and causes black face.

[2022-09-18 02:15] sibir-ine commented on #2559
If they're both making changes to Hulda, you'll probably need to manually patch them with, e.g., xEdit. You can add a load rule on your end to sort them the way you want to if you'd rather not patch them, but that wouldn't really be appropriate to add to the masterlist.

[2022-09-19 06:30] sibir-ine commented on #2401
I'll close this. Feel free to let us know if you still have issues or concerns.

[2022-09-19 06:30] #2401 closed, assigned to nobody

[2022-09-27 21:29] sibir-ine commented on #2559
I'll close this as there hasn't been a response. Feel free to let us know if I've incorrectly assessed the situation & a masterlist load rule is actually appropriate.

[2022-09-27 21:29] #2559 closed, assigned to nobody

[2022-10-15 11:21] sibir-ine opened #2587 "Reevaluate unaliased messages"
- [x] Children.esp
- [x] ImCh.esm
- [x] Killable Children.esp
- [x] FacegenForKids.esp
- [x] AsharaSkyrimCharacterPresetsReplacer.esp
- [x] Better_Male_Presets.esp
- [x] Kayla_CharPreset.esp
- [x] Lagertha_CharPreset.esp
- [x] Lydia Face Preset 64bit.esp
- [x] Skyrim Immersive Creatures Special Edition.esp
- [x] SAFO - Valdacil.esp
- [x] Andromeda - Unique Standing Stones of Skyrim.esp
- [x] Conve

[2022-10-16 13:38] fuchsberger opened #2591 "CRAFT"
Would it be possible to add CRAFT.esp into High Priority Overwrites?
It changes only crafting recipes but that would ensure that it overwrites all mod's recipes as intended. All patches (and there are many) will then also autosort right below making this section of a modlist very organized and not spread out.

Thanks for considering!

[2022-10-16 13:43] sibir-ine commented on #2591
Can you please link to the mod? Can you also please explain why **High Priority Overrides** instead of, e.g., **Crafting**?

[2022-10-16 13:48] fuchsberger commented on #2591
sorry forgot, here you go
https://www.nexusmods.com/skyrimspecialedition/mods/54900

- it allows to make crafting changes after mods such as WACCF which is intented.
- it also ensures changes after any 3d party patches which are in abundance. since CRAFT only chances crafting recipies and they are not referenced anywhere else they should always have highest priority

[2022-10-16 13:55] fuchsberger commented on #2591
my apologies. now that i look at the groups again, Crafting would probably work just as fine and be more appropriate in title

[2022-10-17 11:33] #2591 closed, assigned to sibir-ine

[2022-10-17 11:37] fuchsberger commented on #2591
thanks!

[2022-10-17 11:38] sibir-ine commented on #2591
You're welcome, thanks for reaching out!

[2022-10-19 13:49] sibir-ine opened #2594 "Book Covers Skyrim Updated"
[Link 1](https://www.nexusmods.com/skyrimspecialedition/mods/58376/), [Link 2](https://www.nexusmods.com/skyrimspecialedition/mods/69568/)

- [x] Add a message that they can't be used together
- [x] Add incompatibility with LotD as original is integrated into it, but don't display for dummy plugin from second link
- [x] Some of its patches are also missing masters, so add requirements as necessary

[2022-10-23 08:42] sibir-ine opened #2601 "Treasure Hunter"
Ref [link](https://www.nexusmods.com/skyrimspecialedition/mods/5789), [Discord](https://discord.com/channels/473542112974077963/496196499890241546/1033395643231780874)

<img width="894" height="674" alt="Image" src="https://github.com/user-attachments/assets/f380e5d8-2a9d-4ba9-a03b-c050b7a23d2d" />

Version 1.2 released recently & makes the following mods redundant:
[Treasure Hunter for SSE - fixe

[2022-10-29 02:47] #2601 closed, assigned to sibir-ine

[2022-11-10 03:23] sibir-ine opened #2615 "Audio Overhaul for Skyrim"
Ref [link](https://www.nexusmods.com/skyrimspecialedition/mods/12466), [Discord](https://discord.com/channels/473542112974077963/496196499890241546/1039621816840368179)

<img width="894" height="443" alt="Image" src="https://github.com/user-attachments/assets/1c9a52c4-aa93-4beb-9be6-bddb88d08668" />

AOS recently updated to utilize [Sound Record Distributor](https://www.nexusmods.com/skyrimspecial